<div class="{'blog-media blog-media-' + (attrs.type ?? 'default')}">
  <script render>
    // todo: extract img/video adapter to generic component (reuse outside blog)
    if (isImg(attrs.src)) {
      yield html`<responsive-img
        class="blog-media-element"
        alt="${attrs.alt}"
        src="${attrs.src}"
        spec="${attrs.spec ?? defaultResponsiveImageSpec()}"
        loading="lazy"
      />`;
    } else if (isVideo(attrs.src)) {
      // todo: video placeholders
      // todo: <responsive-video> component
      yield html`<video
        class="blog-media-element"
        muted
        autoplay
        loop
        aria-label="${attrs.alt}"
        ${attrs.playbackRate ? 'onloadstart="this.playbackRate = ' + attrs.playbackRate + '"' : ''}
      >
        <source src="${attrs.src}" />
        <a href="${attrs.src}">${attrs.alt}</a>
      </video>`;
    } else {
      throw new Error("invalid media src: " + attrs.src);
    }

    // todo: convert into slot (need to update compose-html to expose children by named slots)
    if (attrs.caption) {
      yield html`<span class="blog-media-caption">${attrs.caption}</span>`;
    }
  </script>
</div>

<script static>
  function isImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".png" || ext === ".jpg";
  }

  function isVideo(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".mp4";
  }

  function defaultResponsiveImageSpec() {
    switch (attrs.type) {
      case "bleed":
        return "100% [1400) 1400";
      default:
        return "100% [700) 700";
    }
  }
</script>

<style>
  .blog-media {
    text-align: center;
    /* external margin because it's expected to be in an article */
    margin: 36px 0;
  }
  .blog-media-bleed {
    margin: 90px 0;
    max-height: 80vh;
  }

  .blog-media-element {
    display: inline-block;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 18px;
  }
  .blog-media-bleed .blog-media-element {
    position: relative;
    left: 50%;
    max-width: max(min(100vw, 800px), 80vw);
    transform: translateX(-50%);
  }

  .blog-media-caption {
    display: block;
    font-size: 15px;
  }
</style>
