<span class="tag-component" :style="getStyle()"><slot /></span>

<script static>
  const chroma = require("chroma-js");

  // todo: can statically generate color map using attribute selectors?
  const defaultColors = {
    // content type
    micropost: 0xcccccc,
    internal: 0x54f8c1, // from css var(--clr0-light)
    "↗": 0xffffff, // external
    // topic
    algo: 0x00ffff,
    games: 0x00ff00,
    // brand colors
    c: 0xe2bb9e, // from gcc logo
    css: 0x264de4,
    js: 0xf7df1e,
  };

  function getStyle() {
    let label = children[0].textContent;
    if (label.startsWith("/")) label = "internal";

    let chr = chroma(defaultColors[label] ?? 0xcccccc);
    chr = chr.set("lch.c", Math.min(chr.get("lch.c"), 40));
    chr = chr.set("hsl.l", Math.max(chr.get("hsl.l"), 0.6));

    let chrDark = chr.set("lch.c", "*0.8");
    chrDark = chrDark.set("hsl.l", chrDark.get("hsl.l") ** 0.5 * 0.3);

    return `background: ${chr.css()}; color: ${chrDark.css()}`;
  }
</script>

<style>
  .tag-component {
    display: inline-block;
    padding: 0 3px;
    height: 16px;
    line-height: 16px;
    font-family: var(--default-font);
    font-size: 12px;
    font-weight: bold;
    background: #ccc;
    color: #444;
    border-radius: 3px;
  }
</style>
