@font-face {
  font-family: "Cubao Regular";
  src: url("./cubao-regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Cubao Wide";
  src: url("./cubao-wide.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Cubao Narrow";
  src: url("./cubao-narrow.otf") format("opentype");
  font-weight: normal;
}