@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/space/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/space/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iosevka/iosevka-custom-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/iosevka/iosevka-custom-italic.woff2") format("woff2");
}

/*
Let browser emulate bold for less bandwidth.

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/iosevka/iosevka-custom-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/iosevka/iosevka-custom-bolditalic.woff2") format("woff2");
}
*/

@font-face {
  font-family: "Miriam Libre";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/miriam/MiriamLibre-Regular.ttf") format("truetype");
}

/*
Let browser emulate bold for less bandwidth.

@font-face {
  font-family: "Miriam Libre";
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/miriam/MiriamLibre-Bold.ttf") format("truetype");
}
*/
 