@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-style: italic;
  src: url("/fonts/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Miriam Libre";
  src: url("/fonts/MiriamLibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Miriam Libre";
  font-weight: bold;
  src: url("/fonts/MiriamLibre-Bold.ttf") format("truetype");
}
