* {
	font-family: "sans";
	font-size: 12px;
	
	color: #555555;
	text-shadow: 0 1px 0 #DDDDDD;
}

body {
	background-color: #223344;
}

.main{
	min-height: 50%;
	
	padding: 10px;
	padding-bottom: 70px;
	margin: 20px;
	margin-left: 20%;
	margin-right: 20%;
	
	background-color: #D8D8D8;
	
	border-radius: 7px;
}
sub{
	font-size: 80%;
}

h1, h2{
	margin: 0;
	
	padding: 8px;
	padding-left: 2px;
	
	font-size: 22px;
	font-weight: normal;
	
	color: #666666;
	text-shadow: 0 1px 0 #FFFFFF;
}
h1{
	font-size: 30px;	
	
	text-align: center;
	padding: 18px;
}

.error{
	display: inline-block;
	
	padding: 6px;
	margin: 2px;
	margin-bottom: 6px;
	
	color: #770000;
	border: solid 1px #CC0000;
	background-color: #FFEEEE;
	border-radius: 3px;
}
.errorContainer{
	padding: 0;
	margin: 0;
}

.frame{
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border: solid 1px #AAAAAA;
	border-bottom: none;
	background-color: #F8F8F8;
	box-shadow: 0 1px 0 #FFFFFF inset;
}

.frame:first-of-type{
	margin-top: 5px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.frame:last-of-type{
	margin-bottom: 5px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom: solid 1px #AAAAAA;
}

h2, .bar{
	margin-left: 0;
	margin-right: 0;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #AAAAAA;
	box-shadow: 0 1px 0 #CCCCCC;
}

.button{
	float:right;
	
	min-width: 100px;
	margin: 10px;
	padding: 8px;
	
	border: solid 1px #888888;
	background-color: #EEEEEE;
	border-radius: 7px;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset, 0 2px 0 rgba(0,0,0,0.16);
	text-shadow: 0 1px 1px #FFFFFF;
	
	text-align: center;
}
.button:hover, a:focus>.button{
	border: solid 1px #999999;
	background-color: #F8F8F8;
}
.button:active{
	border: solid 1px #888888;
	background-color: #EEEEEE;
	box-shadow: 0 1px 0 #CCCCCC inset;
}

.nextButton{
	border: solid 1px #2266CC;
	background-color: #2288FF;
	border-radius: 7px;
	box-shadow: 0 1px 0 #33AAFF inset, 0 -1px 0 #33AAFF inset, 0 2px 0 rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.2);
	text-shadow: 0 1px 1px #004488;
	color:#FFFFFF;
}
.nextButton:hover, a:focus>.nextButton{
	border: solid 1px #4488CC;
	background-color: #44AAFF;
	box-shadow: 0 1px 0 #88CCFF inset, 0 -1px 0 #88CCFF inset, 0 2px 0 rgba(0,0,0,0.16), 0 0 15px rgba(0,0,0,0.2);
}
.nextButton:active{
	border: solid 1px #6688CC;
	background-color: #3377DD;
	box-shadow: 0 1px 0 #446688 inset, 0 0 5px rgba(0,0,0,0.2) inset;
}

.smallButton{
	min-width: 14px;
	min-height: 14px;
	border-radius: 20px;
}

.table{
	border-collapse: collapse;
	border: none;
	
	width: 100%;
}
.table tr td, .table tr th{
	text-align: center;
	padding: 6px;
}
.table tr th{
	border: solid 1px #888888;
}
.table tr th, .table tr th *{
	color: #EEEEEE;
	background-color: #666666;
	text-shadow: 0 1px 0 #888888;
}
.table tr td{
	background-color: #F0F0F0;
	border-left: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
}
.table tr:last-child{
	border-bottom: solid 1px #CCCCCC;
}
.table tr:nth-child(odd) td{
	background-color: #F8FCFF;
}

label{
	min-width: 40px;
	display: inline-block;
}

input{
	border: solid 1px #CCCCCC;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 3px;
}
input:enabled{
	background-color: #FFFFFF;
	color: #000000;
}
.inputError:enabled{
	background-color: #FFFFDD;
}

.columnsTable{
	width: 100%;
	border: none;
	table-layout: fixed;
}
.half{
	width: 50%;
}

#footer{
	color: #FFFFFF;
	text-shadow: none;
	text-align: center;
}

.nobuttons{
	padding: 10px;
}
  
img {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	border: solid 1px #555555;
}

.menu{
	text-align: center;
}

a:hover{
	text-decoration: none;
}