{{#if links }}
<div class="links-partial">
    <span class="links-partial-heading">{{heading}} ▸</span>
    {{#each links }}
    <a target="_blank" class="links-partial-item" href="{{{ url }}}">{{ name }}</a>
    {{/each}}
</div>
{{/if}}
