<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/fonts.css">
	<link rel="preload" href="/fonts/montserrat-v12-latin-500.woff2" as="font" crossorigin>
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/icon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/icon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/icon-16x16.png">
{{> head }}
{{> pjax-head }}
</head>
<body>

<div id="preloader" style="position: absolute; display: flex; align-items: center; justify-content: center; left: 0; right: 0; top: 0; bottom: 0; font-family: monospace; font-size: 22pt; font-weight: bolder; letter-spacing: 0.2ex; color: #444; background: #fff; z-index: -1000;">loading<marquee style="width: 1.5ex">&hellip;</marquee></div>

<div id="barba-wrapper">
<div class="barba-container main page-active" tabindex="-1" data-page="{{{ pageId }}}">
	<template id="pjax-head">
	{{> pjax-head }}
	</template>
	<header class="header">
		<div class="header-title"></div>
		<nav>
			<ul>
				<li><a class="anchor-plain" href="{{#relhref}}/index.html{{/relhref}}">Home</a></li>
				<li><a class="anchor-plain" href="{{#relhref}}/works.html{{/relhref}}">Works</a></li>
				<li><a class="anchor-plain" href="{{#relhref}}/about.html{{/relhref}}">About</a></li>
			</ul>
		</nav>
		<form id="header-search" action="/search.html" autocomplete="off">
			<input name="q"/>
		</form>
	</header>
{{> body }}
	<footer class="footer">
		Ⓒ 2019 Lean Rada. Android, Google Play, and the Google Play logo are trademarks of Google LLC.
	</footer>
</div>
</div>
</body>
</html>
