<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{{> head }}
{{> pjax-head }}
</head>
<body>
<div id="barba-wrapper">
<div class="barba-container main">
	<template id="pjax-head">
	{{> pjax-head }}
	</template>
	<header class="header">
		<div class="header-title"></div>
		<nav>
			<ul>
				<li><a class="anchor-plain" href="{{#relhref}}index.html{{/relhref}}">Home</a></li>
				<li><a class="anchor-plain" href="{{#relhref}}works.html{{/relhref}}">Works</a></li>
			</ul>
		</nav>
	</header>
{{> body }}
	<footer class="footer">
		Ⓒ 2018 Lean Rada
	</footer>
</div>
</div>
</body>
</html>
