<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,700|Source+Code+Pro:700" rel="stylesheet">
	<link rel="prefetch" href="/index.css">
	<link rel="prefetch" href="/works.css">
	<link rel="prefetch" href="/works/work.css">
{{> head }}
{{> pjax-head }}
</head>
<body>
<div id="barba-wrapper">
<div class="barba-container main" tabindex="-1">
	<template id="pjax-head">
	{{> pjax-head }}
	</template>
	<header class="header">
		<div class="header-title"></div>
		<nav>
			<ul>
				<li><a class="anchor-plain" href="{{#relhref}}/index.html{{/relhref}}">Home</a></li>
				<li><a class="anchor-plain" href="{{#relhref}}/works.html{{/relhref}}">Works</a></li>
			</ul>
		</nav>
	</header>
{{> body }}
	<footer class="footer">
		Ⓒ 2018 Lean Rada. Android, Google Play, and the Google Play logo are trademarks of Google LLC.
	</footer>
</div>
</div>
</body>
</html>
