<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,700|Source+Code+Pro:700" rel="stylesheet">
{{> head }}
{{> pjax-head }}
</head>
<body>

<div id="preloader" style="position: absolute; display: flex; align-items: center; justify-content: center; left: 0; right: 0; top: 0; bottom: 0; font-family: monospace; font-size: 22pt; font-weight: bolder; letter-spacing: 0.2ex; color: #444; background: #fff; z-index: 0;">loading<marquee style="width: 1.5ex">&hellip;</marquee></div>

<div id="barba-wrapper">
<div class="barba-container main" tabindex="-1">
	<template id="pjax-head">
	{{> pjax-head }}
	</template>
	<header class="header">
		<div class="header-title"></div>
		<nav>
			<ul>
				<li><a class="anchor-plain" href="{{#relhref}}/index.html{{/relhref}}">Home</a></li>
				<li><a class="anchor-plain" href="{{#relhref}}/works.html{{/relhref}}">Works</a></li>
			</ul>
		</nav>
	</header>
{{> body }}
	<footer class="footer">
		Ⓒ 2018 Lean Rada. Android, Google Play, and the Google Play logo are trademarks of Google LLC.
	</footer>
</div>
</div>
</body>
</html>
