{{#> page }}
{{#*inline "head" }}
	<title>{{ name }} | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="work.css">
	<script id="main-js" src="work.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="works-work-back">
		<a class="anchor-em" href="../works.html">Back to works</a>
	</section>
	<section class="works-work-content prose">
		{{> content content=content }}
	</section>
{{/inline}}
{{/page}}
