figure[appearance="triptych"] {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--card-border-radius);
  }

  figcaption {
    grid-column: 1 / -1;
  }

  @media (max-width: 600px) {
  }
}
