<div :class="'home-circle-text ' + (attrs.class || '')">
  <curved :text="attrs.text" :radius="attrs.radius" :angle-step="attrs.angleStep" />
</div>

<style>
  .home-circle-text {
    position: relative;
    margin: 2vh;
    width: 100%;
    height: 100%;
    font-size: 3vh;
    font-style: italic;
    color: #fff;
    animation: home-circle-text-animation 7s
      cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }

  @keyframes home-circle-text-animation {
    to {
      transform: rotate(-1turn);
    }
  }
</style>
