x-ease = cubic-bezier(0.6, 0, 0.6, 1)
y-ease = cubic-bezier(0.2, 0, 0.1, 1)
z-ease = cubic-bezier(0.1, 0, 0, 1)

#showcase.growing
	box-shadow 0 0 100px rgba(#000, 0.4)
	transition:
		box-shadow 2s z-ease,
		left 2s 0.2s x-ease,
		top 2s 0.2s y-ease,
		width 2s 0.2s x-ease,
		height 2s 0.2s y-ease;
