@require '../styl/common'
@require '../styl/page'
@require '../styl/prose'

@require '../styl/mockphone'
@require '../styl/mockalbum'

.main[data-page^='works/']
	header-colors(color-fgi, color-bgi, true)

	display flex
	flex-direction column

	section.work-back
		flex 1 0 auto
		padding 2em 1em 0
		font-size 80%
		a:not(:hover):not(:focus)
			border none
			background transparent
		a::before
			content '◂ '
		@media (min-width 1024px)
			padding 4em margin-hedge 0

	section.work-content
		flex 1 0 auto
		width 100%
		padding 1em
		@media (min-width 1024px)
			padding 1em 0 4em
		h1:first-of-type
			color color-bgi
			opacity 1

	section.work-suggested
		items-margin = 16px

		display flex
		flex 1 0 auto
		flex-wrap wrap
		justify-content center
		padding (margin-hedge / 2) margin-hedge
		background color-bg2

		.suggested-item
			position relative
			flex 0 1 auto
			margin items-margin
			width 320px
			height 8rem
			background-color color-bg
			text-decoration inherit
			overflow hidden
			&::after
				content ''
				position absolute
				width 24px
				height 24px
				right 12px
				bottom 12px
				background url('../img/icon-forward.svg') center / contain no-repeat;
				opacity 0.1
			img
				display block
				width 100%
				max-height 1.5rem
				object-fit cover
			.item-info
				margin 1rem
			.item-context
				margin-bottom 0.5em
				font-size 80%
				text-transform uppercase
				opacity 0.4
			.item-name
				font-heading2()
				text-overflow ellipsis
				whitespace nowrap
				overflow hidden
				
			&:hover, &:focus
				background-color color-accent
				img
					opacity 0.8