@require '../styl/common'
@require '../styl/page'
@require '../styl/prose'

hedge = margin-hedge * 2

section.works-work-back
	padding 4em hedge 0
	font-size 80%
	a::before
		content '« '

section.works-work-content
	flex 1
	padding 1em hedge 4em
