@require '../styl/common'
@require '../styl/page'
@require '../styl/prose'

@require '../styl/mockphone'
@require '../styl/mockalbum'

hedge = margin-hedge * 2

section.works-work-back
	padding 1em 1em 0
	font-size 80%
	a::before
		content '« '
	@media (min-width 1024px)
		padding 4em hedge 0

section.works-work-content
	flex 1
	padding 1em
	@media (min-width 1024px)
		padding 1em hedge 4em
