/**********************/
/* content formatting */
/**********************/

.weak{
	color: #888888;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* boxes */

.box{
	position:relative;
	top: 0;
	
	background-color: #FFF;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
	padding: 16px;
	margin: 4px;
	
	text-align: justify;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}
.boxAnim:hover, .selectedBox{
	top: -6px;
	border-color: #AAA;
	box-shadow: 0 6px 0 #AAA, 0 6px 48px rgba(0,0,0,0.1);
	z-index: 1;
}

.boxTitle{
	text-align: center;
	font-weight: lighter;
}
.boxTitle h1{
	color: #888888;
	font-size: medium;
	font-weight: inherit;
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}
.boxTitle h2{
	color: #CCCCCC;
	font-size: small;
	font-weight: inherit;
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}
.boxTitle:hover *{
	color: #000000;
}
.boxTitle:hover h1{
	text-shadow: 0 0 3px #88BBFF;
}

.box h3{
	color: #777777;
	font-size: small;
	font-weight: normal;
	border-top: 1px solid #CCCCCC;
	padding-top: 0.5em;
	text-align: center;
}

.box h4:before{
	padding: 1em;
}
.box h4{
	border-top: 1px solid #CCCCCC;
	margin: 0;
	padding-top: 0.5em;
	font-size: 120%;
	font-weight: normal;
	width: 100%;
}
.box h4:first-child{
	border-top: none;
}

.box img{
	max-width: 100%;

	border-radius: 3px;
	
	margin-top: 1em;
	margin-bottom: 1em;

	box-shadow: 0 1px 3px rgba(0,0,0, 0.3);
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}

.iconButton{
	display: inline-block;

	padding: 0px;

	width: 58px;
	height: 58px;

	background-position: center;
}

.staticCheckbox{
	position: absolute;
	right: 0;
	margin: 1em;
	
	opacity: 0;
	color: #FFF;
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}
.staticCheckboxVisible{
	opacity: 0.8;
}
.staticCheckbox:hover{
	opacity: 1;
}

/**********/
/* common */
/**********/

a{
	text-decoration: none;
}
a:link, a:visited {
	color: #008899;
}
a:hover , a:active {
	color: #00CCFF;
}

/**********/
/* header */
/**********/

.headerTitle{
	z-index: 4;
	position: relative;
	top: 0;

	font-size: 2em;
	color: #FFFFFF;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #BBB, 0 3px 0 #AAA, 0 4px 0 #999, 0 5px 0 #888, 0 6px 0 #777, 0 7px 0 #666, 0 7px 0px rgba(0,0,0,0.2), 0 7px 14px rgba(0,0,0,0.5);
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	transition: 0.2s ease;
}
.headerTitle:hover{
	top: -5px;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #BBB, 0 3px 0 #AAA, 0 4px 0 #999, 0 5px 0 #888, 0 6px 0 #777, 0 7px 0 #666, 0 12px 5px rgba(0,0,0,0.1), 0 12px 24px rgba(0,0,0,0.4);
}

.headerNav{
	float:left;
	position:relative;
}

.menuItem{
	z-index: 3;
	background-color: #F8F8F0;
	
	font-size: small;
	text-align: center;
	vertical-align: middle;
	color: #ABC;

	margin-right: 5px;
	padding-top: 5px;
	
	display: inline-block;
	width: 80px;
	height: 30px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	position: relative;
	top: 20px;
}
.inactiveMenuItem{
    box-shadow: 0 0 0 rgba(0,0,0,0.3), 0 3px 3px rgba(0,0,0,0.1) inset, 0 0 0 rgba(0,0,0,0);
	
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
}
.inactiveMenuItem:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 0 0 rgba(0,0,0,0) inset, 0 0 2px rgba(0,0,0,0.1);
}
.inactiveMenuItem:hover{
	top: 15px;
}
.activeMenuItem, .activeMenuItem:hover{
	color: #467;
	background-color: #F8F8F0;
}

.headerObject{
	z-index: 2;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/**********/
/* footer */
/**********/

.footerNote{
	font-size: x-small;
	width: 50%;
	float: right;
}

/*********/
/* other */
/*********/

html, body {
	height: 100%;
	margin: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	color: #666666;
}

#content{
	height:100%;
	padding: 1em;
}
#wrapper{
	background-color: #F8F8F0;
}

#header, #footer{
	box-shadow: 0 0 20px #888888;
}

#header{
	font-size: medium;
	margin-bottom: 3em;
	color: #FFFFFF;
	background-color: #006688;
	padding-top: 1em;
	height: 120px;
}

#footer{
	padding: 2em;
	color: #444444;
	background-color: #000000;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
}

#footer, #push {
	height: 8em;
	clear: both;
}

#header, #footer, #content{
	padding-left: 10%;
	/* Added to preserve archive in wider resolutions */
	padding-right: max(10%, calc(100% - 1452px));
}

hr {
	/* http://css-tricks.com/examples/hrs/ */
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
