@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/space/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/space/SpaceMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iosevka/iosevka-custom-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/iosevka/iosevka-custom-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Miriam Libre";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/miriam/MiriamLibre-Regular.ttf") format("truetype");
}

:root {
  --default-font: "Iosevka", "Space Mono", monaco, Consolas, "Lucida Console",
    monospace;
  --display-font: "Space Mono", "Iosevka", monaco, Consolas, "Lucida Console",
    monospace;
  --reading-font: "Miriam Libre", Futura, "Trebuchet MS", Arial, sans-serif;

  --bg-clr: #111616;
  --card-clr: #222c2c;
  --clr0-light: #54f8c1;
  --clr0: #0ad591;
  --clr0-dark: #05b97d;
  --clr1: #df2063;

  --text-clr: #fff;
  --text2-clr: #999;

  --ease: cubic-bezier(0.8, 0, 1, 1);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--default-font, monospace);
  font-size: 15px;
  font-display: swap;
  font-variant-ligatures: none;
  background-color: var(--bg-clr, #111);
  color: var(--text-clr, #fff);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--display-font);
  font-weight: bold;
  font-style: italic;
}

a {
  color: var(--clr0-light, #fff);
}
a:visited {
  color: var(--clr0, #fff);
}

img {
  max-width: 100%;
}

/* ----------------------------------------------------------------------------- *
 *
 *      General classes
 *
/* ----------------------------------------------------------------------------- */

.icon-and-text-line {
  display: flex;
  align-items: center;
  gap: 12px;
}

.section,
.sm-column-section,
.md-column-section {
  margin: 60px auto;
  padding: 0 6px;
}

.sm-column-section {
  max-width: 400px;
}

.md-column-section {
  max-width: 600px;
}

.sm-icon {
  width: 16px;
  height: 16px;
}
.md-icon {
  width: 32px;
  height: 32px;
}
.lg-icon {
  width: 64px;
  height: 64px;
}

.rounded {
  border-radius: 12px;
}

.center-text {
  text-align: center;
}

.no-text-decoration {
  text-decoration: none;
}

.title-font {
  font-family: var(--display-font);
  font-style: italic;
}

.text2-color {
  color: var(--text2-clr);
}

.empty-line {
  height: 2em;
  height: 1lh;
}

.pixelated {
  image-rendering: pixelated;
}

.invert {
  filter: invert(1);
}

.invert-on-hover:hover {
  filter: invert(1);
}

/* ----------------------------------------------------------------------------- *
 *
 *      Page structure
 *
/* ----------------------------------------------------------------------------- */

site-header {
  display: block;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 calc(25% - 150px);
  z-index: 100;
  box-sizing: border-box;
  pointer-events: none;
}

site-header > nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
}

site-header a,
site-header a:visited {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 6ch;
  height: 36px;
  padding: 0 18px;
  padding: 0 calc(min(18px, -18px + 8vw));
  border-radius: 18px;
  font-family: var(--display-font);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  backdrop-filter: blur(8px);
  background-color: #2222;
  background-image: linear-gradient(60deg, #9994 60%, transparent 60%);
  background-repeat: no-repeat;
  background-size: 220% 100%;
  background-position: 117%;
  pointer-events: all;
  transition: background-color 0.2s var(--ease),
    background-position 0.2s var(--ease);
}
site-header a:hover {
  background-image: linear-gradient(
    60deg,
    #9994 50%,
    #fff 50%,
    #fff 60%,
    transparent 60%
  );
  background-position: 0%;
}
site-header a.selected {
  background: #9994;
}

site-header img {
  width: 48px;
  height: 48px;
  border-radius: 25%;
  image-rendering: pixelated;
  object-fit: cover;
  backdrop-filter: blur(8px);
  pointer-events: all;
}
.site-header-icon-yay {
  border-radius: 50%;
  object-position: 0 0;
}
.site-header-icon-yay:hover {
  object-position: 100% 0;
}

@media (max-width: 600px) {
  site-header {
    height: 90px;
    padding-top: 6px;
  }
  site-header > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 6px;
  }
  site-header img {
    display: none;
  }
}

.site-header-indicator {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: calc(100% + 12px);
  transform: translate(-50%, -50%);
  /* border acts as extended touch area */
  border: solid 6mm transparent;
  border-left-width: 45vw;
  border-right-width: 45vw;
  border-radius: 50%;
  background: #fff;
  background-clip: padding-box;
  opacity: 0;
  transition: opacity 50ms;
}
site-header.hidden .site-header-indicator {
  opacity: 0.4;
  pointer-events: all;
}

site-footer {
  width: 100%;
}

site-footer > footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 42px calc(max(36px, 50vw - 600px));
  font-family: var(--display-font);
  font-size: 15px;
  font-weight: bold;
  background: var(--clr0);
  color: #000;
  overflow: hidden;
  content-visibility: auto;
  contain-intrinsic-height: 200px;
}

site-footer h2 {
  margin: 18px 0;
  font-size: inherit;
}

site-footer p {
  margin: 12px 0;
}

site-footer a,
site-footer a:visited {
  color: #000;
}
site-footer a:hover {
  color: #000;
}

site-footer > footer > div {
  z-index: 1;
}

site-footer nebula-animation {
  position: absolute;
  left: -30%;
  top: -30%;
  width: 160%;
  height: 160%;
  z-index: 0;
}

site-footer a[href="#top"],
site-footer a[href="#top"]:visited {
  display: block;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 72px;
  height: 36px;
  padding-right: 9px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom-left-radius: 18px;
  background: var(--bg-clr);
  text-decoration: none;
  color: var(--clr0-light);
  font: inherit;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
site-footer a[href="#top"]:hover {
  color: var(--clr1);
}
site-footer a[href="#top"]::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 18px;
  border-top-right-radius: 18px;
  transform: translateX(-72px);
  box-shadow: 18px 0 0 var(--bg-clr);
}

@media (max-width: 700px) {
  site-footer > footer {
    flex-direction: column-reverse;
  }
}

/* ----------------------------------------------------------------------------- *
 *
 *      Content components
 *
/* ----------------------------------------------------------------------------- */

content-header {
  display: block;
  font-family: var(--default-font);
  margin: 90px 0 60px;
  padding: 0 18px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: var(--text2-clr);
}
@media (max-width: 600px) {
  content-header {
    margin: 60px 0;
  }
}

content-header h1 {
  margin: 0 0 12px;
  font-family: var(--display-font);
  font-size: 27px;
  font-weight: bold;
  text-align: inherit;
  color: var(--text-clr);
}

tag-chip {
  display: inline-block;
  padding: 0 3px;
  height: 16px;
  line-height: 16px;
  font-family: var(--default-font);
  font-size: 12px;
  font-weight: bold;
  --tag-chip-bg: lch(
    from var(--tag-chip-color, #ccc) calc(max(l, 60)) calc(min(c, 40)) h
  );
  background: var(--tag-chip-bg);
  color: lch(from var(--tag-chip-bg, #444) calc(l * 0.2) calc(c * 0.8) h);
  border-radius: 3px;
}
tag-chip::after {
  content: attr(title);
}
tag-chip[title="✎hidden"] {
  --tag-chip-color: #ffeeff;
}
/* content types */
tag-chip[title="essay"] {
  --tag-chip-color: #eeeeee;
}
tag-chip[title="µpost"] {
  --tag-chip-color: #cccccc;
}
tag-chip[title="internal"] {
  --tag-chip-color: var(--clr0-light);
}
tag-chip[title="↗"] {
  --tag-chip-color: #ffffff;
}
/* topics */
tag-chip[title="algo"] {
  --tag-chip-color: #00ffff;
}
tag-chip[title="games"] {
  --tag-chip-color: #00ff00;
}
tag-chip[title="keyboard"] {
  --tag-chip-color: #ddaaff;
}
/* brand --tag-chip-colors */
tag-chip[title="c"] {
  /* from gcc logo */
  --tag-chip-color: #e2bb9e;
}
tag-chip[title="css"] {
  --tag-chip-color: rebeccapurple;
}
tag-chip[title="js"] {
  --tag-chip-color: #f7df1e;
}
tag-chip[title="html"] {
  --tag-chip-color: #fcbe03;
}
tag-chip[title="rust"] {
  --tag-chip-color: #f46623;
}
tag-chip[title="android"] {
  --tag-chip-color: #3ddc84;
}
/* genres */
tag-chip[title="piano"] {
  --tag-chip-color: #fcfcfc;
}
tag-chip[title="lofi"] {
  --tag-chip-color: #0d35ff;
}
tag-chip[title="funk"] {
  --tag-chip-color: #ff6929;
}
tag-chip[title="edm"] {
  --tag-chip-color: #ff05e9;
}

card-box {
  display: block;
  padding: 12px 18px;
  border-radius: 12px;
  border: solid 1px var(--card-clr);
  box-sizing: border-box;
}

box-note {
  display: block;
  padding: 12px 18px;
  border-radius: 12px;
  border: solid 2px var(--clr0-dark);
  box-sizing: border-box;
}

bump-tally {
  /* placeholder */
  min-height: 55px;
}

gh-contribs {
  /* placeholder */
  min-height: 198px;
}