figure[appearance="triptych"] {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--card-border-radius);
  }

  figcaption {
    grid-column: 1 / -1;
  }

  @media (max-width: 600px) {
    grid-template-columns: minmax(0, 300px);
  }
}

@layer prose-extra {
  main[appearance="prose"] {
    prose-bleed {
      width: min(120svh, 95vw, 1600px);
    }
  }
}

art-grid {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: max(24px, 2vw) 2vw;
  color: var(--text-clr);

  > a {
    display: contents;

    figure:hover {
      filter: contrast(2) brightness(0.8);
      scale: 1.02;
    }

    figcaption {
      text-decoration: underline;
    }
  }

  img {
    width: auto;
    height: 40vmin;
    border-radius: 3px;

    @media (max-width: 400px) {
      width: 100%;
      height: auto;
      max-width: 150px;
    }
  }

  figure {
    margin: 0;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: scale 2s, filter 0.2s;

    > img {
      position: relative;
      flex: 1 1 auto;
    }

    > figcaption {
      flex: 0 0 auto;
      margin: 6px 0 0;
      font-family: var(--reading-font);
      font-size: 15px;
      text-align: center;
    }
  }
}
