@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #240d18;
  color: #f3e1e1;
  font-family: "Inter", sans-serif;
  font-size: medium;
}

button {
  border: none;
  padding: 0.75rem 1rem;
  background-color: #3c1d27;
  color: inherit;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.2s;
  font: inherit;
  text-align: inherit;

  &:hover {
    background-color: #5a2c3b;
  }

  &:active {
    background-color: #7a3d4f;
  }

  &.icon {
    display: grid;
    place-content: center;
    padding: 0.75rem;
  }
}
a {
  color: #f05252;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
