<div class="window-decor">
  <slot />
  <script render>
    if (attrs.title)
      yield html`<div class="window-decor-title">${attrs.title}</div>`;
  </script>
</div>

<style>
  .window-decor {
    position: relative;
    border-radius: 12px;
    border: solid var(--card-clr);
    border-width: 24px 0 12px;
    box-shadow: 0 0 0 1px #333, 0 0 0 2px #111;
    background: var(--card-clr);
  }
  .window-decor::after {
    content: "";
    display: block;
    position: absolute;
    left: 12px;
    top: -18px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #443c3f;
    box-shadow: 18px 0 0 #4d4a45, 36px 0 0 #3f4745;
  }

  .window-decor-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    line-height: 24px;
    font-family: var(--default-font);
    font-size: 12px;
    font-weight: bold;
    color: var(--text2-clr);
  }
</style>
