<div
  :class="'card-grid ' + (attrs.animated ? ' card-grid-animated ' : '') + (attrs.tall ? ' card-grid-tall ' : '') + (attrs.class || '')"
>
  <slot />
</div>

<script render>
  if (!attrs.animated) return;

  function delay(index) {
    const seconds = Math.min(index - 1, Math.log(index * 8)) * 0.3;
    return Math.round(seconds * 1000) / 1000 + "s";
  }

  const maxDelayed = 10;
  const itemCount = children.length;
  const max = Math.min(itemCount, maxDelayed);

  let styles = "";
  for (let i = 1; i <= max; i++) {
    styles += `
    .card-grid > *:nth-child(${i}) {
      --card-grid-item-delay: ${delay(i)};
    }`;
  }

  if (itemCount > maxDelayed) {
    styles += `
    .card-grid > *:nth-child(n + ${maxDelayed + 1}) {
      --card-grid-item-delay: ${delay(maxDelayed + 1)};
    }`;
  }

  return html`<head>
    <style>
      ${styles}
    </style>
  </head>`;
</script>

<style>
  .card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, calc(min(546px, 100%)));
    gap: 60px;
  }
  .card-grid-tall {
    gap: 90px 60px;
  }
  @media (max-width: 900px) {
    .card-grid {
      gap: 30px;
    }
  }
  @media (prefers-reduced-motion) {
    .card-grid * {
      animation: none !important;
    }
  }
</style>
