<div
  :class="'blog-media blog-media-' + (attrs.type ?? 'default') + ' ' + (attrs.class ?? '')"
>
  <script render>
    if (attrs.type === "windowed") {
      yield html`<window-decor title="${attrs.caption}">${renderMediaElementArray()}</window-decor>`;
    } else {
      yield* renderMediaElement();
      if (attrs.caption || children.length) {
        yield html`<span class="blog-media-caption">${attrs.caption}<slot name="caption"></slot></span>`;
      }
    }
  </script>
</div>

<script static>
  const prod = process.env.NODE_ENV === "production";

  async function renderMediaElementArray() {
    const array = [];
    for await (const item of renderMediaElement()) {
      array.push(item);
    }
    return array;
  }

  async function* renderMediaElement() {
    const spec = defaultResponsiveImageSpec();
    const specAttr = spec ? `spec="${spec}"` : "";
    const width = defaultWidth();
    const widthAttr = width ? `width="${width}"` : "";
    yield html`<responsive-media
      ${specAttr}
      ${widthAttr}
      {...attrs}
      class="blog-media-element ${attrs.mediaClass ?? ""}"
    />`;
  }

  function defaultResponsiveImageSpec() {
    return attrs.type === "bleed" ? "100% [800) 80% [1750) 1400" : null;
  }

  function defaultWidth() {
    return attrs.type === "bleed" ? "400%" : null;
  }
</script>

<style>
  .blog-media {
    position: relative;
    text-align: center;
    /* external margin because it’s expected to be in an article */
    margin: 36px 0;
  }
  .blog-media-bleed {
    margin: min(36px, 5vw, 90px) 0;
  }

  .blog-media-element {
    display: inline-block;
    max-width: 100%;
    max-height: 80vh;
    max-height: 80svh;
    border-radius: 18px;
    box-sizing: border-box;
  }
  .blog-media-bleed .blog-media-element {
    position: relative;
    left: 50%;
    max-width: max(min(100vw, 800px), 80vw);
    max-height: unset;
    transform: translateX(-50%);
  }
  .blog-media-windowed .blog-media-element {
    display: block;
    width: 100%;
    border-radius: 0;
  }

  .blog-media-caption {
    display: block;
    font-size: 15px;
  }
</style>
