<script render>
  if (!post) return "";

  const tags = post.tags.map(tag => html` <tag>${tag}</tag> `) ?? [];
  const mediaSrc = attrs.mediaSrc || post.media || url("/notes/placeholder.png");
  const thumbalign = attrs.thumbalign || "center";

  yield html`<card-grid-item
    href="${attrs.href || post.href}"
    title="${attrs.title || post.title}"
    media-src="${mediaSrc}"
    thumbalign="${thumbalign}"
    expanded="true"
  >
    ${tags} ${attrs.description}
  </card-grid-item>`
</script>

<script static>
  const combinedIndex = require("../../site/notes/index.generated.combined.json");
  const href = attrs.href;
  const post = combinedIndex.find((item) => item.href === href);
</script>
