<div :class="'blog-post-info ' + (attrs.hidden != null ? 'blog-post-info-hidden' : '')" :hidden="attrs.hidden">
  <span class="dt-published">{formatDate(attrs.date)}</span> · {attrs.readMins} min read
</div>

<script static>
  const { formatDate } = require("../../lib/format_date.js");
</script>

<style>
  .blog-post-info {
    margin: 24px 0;
    font-family: var(--default-font);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: var(--text2-clr);
  }
  .blog-post-info-hidden {
    display: none;
  }
</style>
