[submodule "dataget/philippines-json-maps"]
	path = dataget/philippines-json-maps
	url = git@github.com:faeldon/philippines-json-maps.git
[submodule "dataget/psgc"]
	path = dataget/psgc
	url = git@github.com:thinkingmachines/psgc.git
