@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-light: #f7f6ed;
  --color-neutral: #eaeee8;
  --color-dark: #374953;
  --color-gray: #5c6a72;
  --color-positive: #4ec7dc;
  --color-positive-text: #007bac;
  --color-strong: #e95961;
  --color-accent: #ffe684;
  --color-accent-text: #aa8200;
  --infobar-transition: transform 0.6s cubic-bezier(0.5, 0, 0.2, 1);
  --infobar-side-width: 400px;
  --infobar-bottom-height: 195px;
}

* {
  box-sizing: border-box;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
}

a {
  color: var(--color-positive-text);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  color: var(--color-dark);
}
