<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/fonts.css">
	<link rel="preload" href="/fonts/montserrat-v12-latin-500.woff2" as="font" crossorigin>
	<title>Page Not Found</title>
	<link id="main-css" rel="stylesheet" href="404.css">
</head>
<body>
	<h1>Page Not Found</h1>
	<a class="anchor-plain" href="/">Go home</a>
</body>
</html>
