@require '../styl/common'
@require '../styl/page'

body
	display flex
	flex-direction column
	align-items center
	justify-content center
	min-width 100vw
	min-height 100vh
	background linear-gradient(to bottom, color-accent, color-accent-tint)
	overflow hidden

h1
	font-weight 700
	font-size 20vmin
	text-align center

a
	padding 1em
	font-weight 700
	font-size 5vmin
	text-transform uppercase
	text-decoration inherit
	color color-accent
	background color-fg
	&:hover
		color color-accent-tint
		background color-bg