{{#> page }}
{{#*inline "head" }}
	<title>About | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="about.css">
	<script id="main-js" src="about.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="about">
		<p>This page has no content yet.</p>
		<p>Come back later!</p>
		<p><a href="https://youtu.be/dQw4w9WgXcQ"><strong>Or click here...</strong></a></p>
	</section>
{{/inline}}
{{/page}}
