@require '../styl/common'
@require '../styl/page'

.main[data-page='about.html']
  display flex
  flex-direction column

  section.about
    flex 1 0 auto
    display flex
    flex-direction column
    justify-content center
    align-items center
