@require '../styl/common'
@require '../styl/page'

@require '../styl/header'

.main[data-page='about.html']
	header-colors(color-accent3-tint, color-fgi)

	display flex
	flex-direction column

	section.about
		flex 1 0 auto
		display flex
		flex-direction column
		justify-content center
		align-items center