@require '../styl/common'
@require '../styl/index.*'

margin-hedge = 5vw

body
	display flex
	flex-wrap wrap
	
	background color-bg
	color color-fg
	font-body()
*
	color inherit

section
	position relative
	flex 1 1 auto
	min-height 80vh
	padding 20vh margin-hedge
	&:target
		animation targeted 1s ease-out

.section-heading
	margin-bottom 1em
	text-transform uppercase
	font-heading-section()

.section-subheading
	margin-bottom 3em
	font-heading2()

.section-overlay
	position absolute
	display inline-block
	right 0
	top calc(20vh)
	bottom 0
	span
		@extend .section-heading
		position sticky
		display inline-block
		top 0
		right 0
		width calc(1em - 1ex) // cutoff effect
		margin 0
		padding 0
		font-family 'Montserrat', monospace
		font-weight 700
		font-size 120pt
		line-height 1
		opacity 0.06
		overflow hidden
		writing-mode vertical-rl
		user-select none

section.about, section.contact
	width 50%

.field
	& + .field
		margin-top 1em
	color rgba(color-fg, 0.6)
	font-size 90%
	&.value, .value
		color color-fg
		font-size font-size-body
		
.tags
	display flex
	flex-wrap wrap
	// negative margin to cancel extra space caused by child .tag margins
	margin-right -0.5em
	margin-bottom -0.4em
	.tag
		display inline-block
		padding 0 0.2em
		margin-right 0.5em
		margin-bottom 0.4em
		font-size 98%
		background color-bgi
		color color-fgi
