@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700|Source+Code+Pro:700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes targeted {
  0% {
    background: #ffb838;
  }
  100% {
    background: transparent;
  }
}
@keyframes targeted {
  0% {
    background: #ffb838;
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
            transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
            transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
}
body {
  background: #fff;
  color: rgba(0,0,0,0.667);
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.4;
}
* {
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a:not(.anchor-plain) {
  color: rgba(0,0,0,0.667);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, rgba(255,221,85,0.8)));
  background: linear-gradient(to bottom, transparent 40%, rgba(255,221,85,0.8) 40%);
  border-bottom: solid 2px rgba(255,221,85,0.8);
  text-decoration: inherit;
}
a:not(.anchor-plain):hover,
a:not(.anchor-plain):focus {
  background: rgba(255,221,85,0.8);
  -webkit-box-shadow: 0 -1px 0 2px rgba(255,221,85,0.8);
          box-shadow: 0 -1px 0 2px rgba(255,221,85,0.8);
}
a:not(.anchor-plain)[target=_blank] {
  display: inline-block;
}
a:not(.anchor-plain)[target=_blank]::after {
  display: inline-block;
  content: '';
  width: 1em;
  height: 0.75em;
  vertical-align: baseline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: url("./img/icon-open.svg") center/contain no-repeat;
}
header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 72px;
  padding: 0 5vw;
  background: #fd5;
}
header.header .header-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
header.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header.header nav ul a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  margin: 8px 12px;
  -webkit-transition: color 0.03s ease-out;
  transition: color 0.03s ease-out;
  z-index: 0;
}
header.header nav ul a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 2.5px);
  bottom: 0;
  background: rgba(0,0,0,0.667);
  -webkit-transform: skewX(-4deg);
          transform: skewX(-4deg);
  -webkit-transition: top 0.1s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.1s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
header.header nav ul a:hover,
header.header nav ul a:focus,
header.header nav ul a[href='#'] {
  color: #fd5;
}
header.header nav ul a:hover::before,
header.header nav ul a:focus::before,
header.header nav ul a[href='#']::before {
  top: 0;
  bottom: 0;
}
header.header nav ul a:hover[href='#'],
header.header nav ul a:focus[href='#'] {
  opacity: 0.9;
}
header.header nav ul a:hover[href^='#']:not([href='#'])::after,
header.header nav ul a:focus[href^='#']:not([href='#'])::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border: solid 4px transparent;
  border-top-color: rgba(0,0,0,0.667);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
footer.footer {
  width: 100%;
  padding: 2em 5vw;
  font-size: 80%;
  background: #2d2d2d;
  color: rgba(255,255,255,0.2);
}
body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}
.main.page-enter {
  visibility: visible !important;
  z-index: 5000;
  -webkit-animation: pageenter 0.4s cubic-bezier(0, 0, 0.2, 1) both;
          animation: pageenter 0.4s cubic-bezier(0, 0, 0.2, 1) both;
}
.main.page-exit {
  z-index: -5000;
  -webkit-animation: pageexit 0.4s cubic-bezier(0.4, 0, 1, 1) both;
          animation: pageexit 0.4s cubic-bezier(0.4, 0, 1, 1) both;
}
@-webkit-keyframes pageenter {
  from {
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
    -webkit-clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
            clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
  }
}
@keyframes pageenter {
  from {
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
    -webkit-clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
            clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes pageexit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
            clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
            clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
  }
}
@keyframes pageexit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
            clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
            clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
  }
}
.main[data-page='index.html'] section.about p {
  margin-bottom: 1em;
}
.main[data-page='index.html'] section.contact .contact-links-list li + li {
  margin-top: 0.5em;
}
.main[data-page='index.html'] section.contact .contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main[data-page='index.html'] section.contact .contact-link-icon {
  width: 1em;
  height: 1em;
  margin-left: 0.125em;
  margin-right: 0.25em;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  opacity: 0.666666666666667;
}
.main[data-page='index.html'] section.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 90vh;
  -webkit-perspective: 100cm;
          perspective: 100cm;
}
.main[data-page='index.html'] section.intro .intro-greeting {
  margin-top: 0.4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 70pt;
  text-align: left;
  text-transform: lowercase;
}
.main[data-page='index.html'] section.intro .intro-text {
  margin-bottom: 0.5em;
  max-width: 20em;
  font-size: 27pt;
  line-height: 1.2em;
}
.main[data-page='index.html'] section.intro .intro-text:last-child {
  margin-bottom: 2em;
}
@media (min-width: 60em) {
  .main[data-page='index.html'] section.intro .intro-text {
    max-width: 50%;
  }
}
.main[data-page='index.html'] section.intro > :nth-child(1) {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: appear 0.6s 0.5s cubic-bezier(0, 0, 0.2, 1) backwards;
          animation: appear 0.6s 0.5s cubic-bezier(0, 0, 0.2, 1) backwards;
}
.main[data-page='index.html'] section.intro > :nth-child(2) {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: appear 0.6s 0.6s cubic-bezier(0, 0, 0.2, 1) backwards;
          animation: appear 0.6s 0.6s cubic-bezier(0, 0, 0.2, 1) backwards;
}
.main[data-page='index.html'] section.intro > :nth-child(3) {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: appear 0.6s 0.7s cubic-bezier(0, 0, 0.2, 1) backwards;
          animation: appear 0.6s 0.7s cubic-bezier(0, 0, 0.2, 1) backwards;
}
.main[data-page='index.html'] section.intro::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 1px transparent;
  background: url("img/tex.png"), linear-gradient(120deg, #fd5 60%, #ffb838);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  z-index: -1;
}
.main[data-page='index.html'] header.header {
  position: absolute;
  background: none;
  z-index: 1;
}
.main[data-page='index.html'] section.jobs {
  position: relative;
}
.main[data-page='index.html'] section.jobs .jobs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main[data-page='index.html'] section.jobs .jobs-item {
  position: relative;
  min-width: 20em;
  width: 40%;
  padding: 2em;
  background: #fff;
}
.main[data-page='index.html'] section.jobs .jobs-item + .jobs-item {
  margin-top: 66px;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 2) {
  left: 43%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 3) {
  left: 8%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 4) {
  left: 44%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 5) {
  left: 6%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 6) {
  left: 41%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 7) {
  left: 19%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 8) {
  left: 48%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 9) {
  left: 15%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 10) {
  left: 58%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 11) {
  left: 11%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 12) {
  left: 50%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 13) {
  left: 6%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 14) {
  left: 56%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 15) {
  left: 0%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 16) {
  left: 50%;
}
.main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(8n + 17) {
  left: 18%;
}
.main[data-page='index.html'] section.jobs .jobs-item:first-of-type {
  left: auto;
  margin-left: 10%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: solid 9px #fd5;
}
.main[data-page='index.html'] section.jobs .jobs-item:last-of-type {
  left: auto;
  margin-right: 10%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 40em) {
  .main[data-page='index.html'] section.jobs .jobs-item {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    min-width: unset;
    width: auto;
    padding: 1em 0;
  }
  .main[data-page='index.html'] section.jobs .jobs-item + .jobs-item {
    margin-top: 2em;
  }
  .main[data-page='index.html'] section.jobs .jobs-item:nth-of-type(1n) {
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .main[data-page='index.html'] section.jobs .jobs-item:first-of-type {
    padding-left: 1em;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}
.main[data-page='index.html'] section.jobs .job-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
}
.main[data-page='index.html'] section.jobs .job-date {
  margin-top: 0;
}
.main[data-page='index.html'] section.jobs .jobs-decor1 {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0% 0%, 100% calc(0% + -6.9756474vw), 100% 21.33333333333333%, 0% calc(21.33333333333333% - -6.9756474vw));
          clip-path: polygon(0% 0%, 100% calc(0% + -6.9756474vw), 100% 21.33333333333333%, 0% calc(21.33333333333333% - -6.9756474vw));
}
.main[data-page='index.html'] section.jobs .jobs-decor1::before {
  content: '';
  position: fixed;
  left: 5%;
  top: 30%;
  width: 60%;
  height: 40%;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  background: url("img/tex.png"), linear-gradient(116deg, #fd5 40%, #ffb838);
}
@media (max-width: 40em) {
  .main[data-page='index.html'] section.jobs .jobs-decor1 {
    display: none;
  }
}
.main[data-page='index.html'] section.jobs .jobs-decor2 {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0% 39.33333333333333%, 100% calc(39.33333333333333% + -6.9756474vw), 100% 60.66666666666666%, 0% calc(60.66666666666666% - -6.9756474vw));
          clip-path: polygon(0% 39.33333333333333%, 100% calc(39.33333333333333% + -6.9756474vw), 100% 60.66666666666666%, 0% calc(60.66666666666666% - -6.9756474vw));
}
.main[data-page='index.html'] section.jobs .jobs-decor2::before {
  content: '';
  position: fixed;
  left: 5%;
  top: 30%;
  width: 60%;
  height: 40%;
  -webkit-transform: translateX(15vw);
          transform: translateX(15vw);
  background: url("img/tex.png"), linear-gradient(116deg, #ff364e 40%, #f5005a);
}
@media (max-width: 40em) {
  .main[data-page='index.html'] section.jobs .jobs-decor2 {
    display: none;
  }
}
.main[data-page='index.html'] section.jobs .jobs-decor3 {
  position: absolute;
  top: 55vh;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0% 78.66666666666666%, 100% calc(78.66666666666666% + -6.9756474vw), 100% 100%, 0% calc(100% - -6.9756474vw));
          clip-path: polygon(0% 78.66666666666666%, 100% calc(78.66666666666666% + -6.9756474vw), 100% 100%, 0% calc(100% - -6.9756474vw));
}
.main[data-page='index.html'] section.jobs .jobs-decor3::before {
  content: '';
  position: fixed;
  left: 5%;
  top: 30%;
  width: 60%;
  height: 40%;
  -webkit-transform: translateX(30vw);
          transform: translateX(30vw);
  background: url("img/tex.png"), linear-gradient(116deg, #4f9cff 40%, #00c0d3);
}
@media (max-width: 40em) {
  .main[data-page='index.html'] section.jobs .jobs-decor3 {
    display: none;
  }
}
.main[data-page='index.html'] section.projects .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main[data-page='index.html'] section.projects .projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main[data-page='index.html'] section.projects .projects-item + .projects-item {
  margin-top: 2em;
}
@media (min-width: 1000px) and (min-height: 600px) and (min-aspect-ratio: 4/3) {
  .main[data-page='index.html'] section.projects .projects-item + .projects-item {
    margin-top: -10vmin;
  }
}
.main[data-page='index.html'] section.projects .project-image {
  min-width: 240px;
  min-height: 240px;
  width: 65vmin;
  height: 65vmin;
  background: #fff;
  z-index: 1;
}
.main[data-page='index.html'] section.projects .project-image img {
  padding: 1px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: luminosity;
  -webkit-filter: grayscale(100%) brightness(1.4) contrast(80%);
          filter: grayscale(100%) brightness(1.4) contrast(80%);
  -webkit-transition: -webkit-filter 60ms ease-out;
  transition: -webkit-filter 60ms ease-out;
  transition: filter 60ms ease-out;
  transition: filter 60ms ease-out, -webkit-filter 60ms ease-out;
}
.main[data-page='index.html'] section.projects .projects-item:hover .project-image img {
  mix-blend-mode: unset;
  -webkit-filter: none;
          filter: none;
}
.main[data-page='index.html'] section.projects .project-info {
  margin-top: 12.5vmin;
  min-width: 240px;
  min-height: 240px;
  width: 40vmin;
  height: auto;
  padding: 2em;
  background: #fff;
  z-index: 2;
}
.main[data-page='index.html'] section.projects .projects-item:nth-child(odd) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main[data-page='index.html'] section.projects .projects-item:nth-child(odd) .project-info {
  margin-left: -16vmin;
}
.main[data-page='index.html'] section.projects .projects-item:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.main[data-page='index.html'] section.projects .projects-item:nth-child(even) .project-info {
  margin-right: -16vmin;
}
@media (max-aspect-ratio: 5/4), (max-width: 480px) {
  .main[data-page='index.html'] section.projects .projects-item:nth-child(1n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main[data-page='index.html'] section.projects .projects-item:nth-child(1n) .project-image,
  .main[data-page='index.html'] section.projects .projects-item:nth-child(1n) .project-info {
    min-width: unset;
    min-height: unset;
    height: unset;
    width: unset;
  }
  .main[data-page='index.html'] section.projects .projects-item:nth-child(1n) .project-info {
    min-height: 32.5vmin;
    margin: -32.5vmin 0 0;
    padding: 1em 0;
  }
}
.main[data-page='index.html'] section.projects .project-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
}
.main[data-page='index.html'] section.projects .projects-item:nth-of-type(3n + 2) .project-image {
  background: url("img/tex.png"), linear-gradient(120deg, #fd5 25%, #ffb838 75%);
}
.main[data-page='index.html'] section.projects .projects-item:nth-of-type(3n + 3) .project-image {
  background: url("img/tex.png"), linear-gradient(120deg, #ff364e 25%, #f5005a 75%);
}
.main[data-page='index.html'] section.projects .projects-item:nth-of-type(3n + 1) .project-image {
  background: url("img/tex.png"), linear-gradient(120deg, #4f9cff 25%, #00c0d3 75%);
}
.main[data-page='index.html'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main[data-page='index.html'] section {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 80vh;
  padding: 20vh 10vw;
}
.main[data-page='index.html'] section:target {
  -webkit-animation: targeted 1s ease-out;
          animation: targeted 1s ease-out;
}
@media (max-width: 1024px) {
  .main[data-page='index.html'] section {
    padding: 10vh 10vw;
  }
}
.main[data-page='index.html'] .section-heading {
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: normal;
  color: rgba(0,0,0,0.4);
  margin-bottom: 1em;
  text-transform: uppercase;
}
.main[data-page='index.html'] .section-subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  color: rgba(0,0,0,0.7);
  margin-bottom: 3em;
}
.main[data-page='index.html'] .section-overlay {
  position: absolute;
  display: inline-block;
  right: 0.25vw;
  top: calc(20vh);
  bottom: 0;
}
.main[data-page='index.html'] .section-overlay span {
  position: -webkit-sticky;
  position: sticky;
  display: inline-block;
  top: 0;
  width: calc(1em - 1ex);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', monospace;
  font-weight: 700;
  font-size: 120pt;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.06;
  overflow: hidden;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 80em) {
  .main[data-page='index.html'] section.about,
  .main[data-page='index.html'] section.contact {
    width: 50%;
  }
}
.main[data-page='index.html'] .field {
  color: rgba(0,0,0,0.6);
  font-size: 90%;
}
.main[data-page='index.html'] .field + .field {
  margin-top: 1em;
}
.main[data-page='index.html'] .field.value,
.main[data-page='index.html'] .field .value {
  color: rgba(0,0,0,0.667);
  font-size: 12pt;
}
.main[data-page='index.html'] .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -0.5em;
  margin-bottom: -0.4em;
}
.main[data-page='index.html'] .tags .tag {
  display: inline-block;
  padding: 0 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
  font-size: 98%;
  background: #2d2d2d;
  color: #fff;
}
.main[data-page='index.html'] .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4em 0 0;
}
.main[data-page='index.html'] .more a {
  padding: 0 0.5em;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
}
.main[data-page='index.html'] .more a::after {
  content: ' »';
}
