@require '../styl/common'
@require '../styl/page'
@require '../styl/index.*'

.main[data-page='index.html']
	display flex
	flex-direction row
	flex-wrap wrap

	section
		position relative
		flex 1 1 auto
		min-height 60vmin
		padding 15vh margin-hedge 0
		&:target
			animation targeted 1s ease-out
		@media (max-width 1024px)
			padding 10vh margin-hedge 0

	.section-overlay
		position absolute
		display inline-block
		right 0.25vw // something about overshoot
		top 10vh
		bottom 0
		span
			position sticky
			display inline-block
			top 0
			width calc(1em - 1.03ex) // cutoff effect
			margin 0
			padding 0
			font-family 'Montserrat', monospace
			font-weight 700
			font-size 120pt
			line-height 1
			text-transform uppercase
			opacity 0.06
			overflow hidden
			writing-mode vertical-rl
			user-select none

	@media (min-width 80em)
		section.about, section.contact
			width 50%

	.field
		& + .field
			margin-top 1em
		color rgba(color-fg, 0.6)
		font-size 90%
		&.value, .value
			color color-fg
			font-size font-size-body
			
	.tags
		display flex
		flex-wrap wrap
		// negative margin to cancel extra space caused by child .tag margins
		margin-right -0.5em
		margin-bottom -0.4em
		.tag
			display inline-block
			padding 0 0.2em
			margin-right 0.5em
			margin-bottom 0.4em
			font-size 98%
			font-weight bold
			background color-bgi
			color color-fgi

	.more
		display flex
		justify-content center
		margin 2em 0 0
		a::after
			content ' ▸'
