{{#> page }}
{{#*inline "head" }}
	<title>Search | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="search.css">
	<script id="main-js" src="search.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="search">
		<h1 class="section-heading">Search</h1>
		<form class="search-form" action="/search.html" autocomplete="off">
			<input name="q" placeholder="search" required/>
		</form>
		<div class="results-info" style="display: none">
			<span class="count"></span> results found.
		</div>
		<div class="results-empty" style="display: none">
			Your search - <strong class="query"></strong> - did not yield results.
		</div>
		<div id="results">
			<noscript>
				<p><strong>Sorry, but Search requires JavaScript.</strong></p>
				<p>As an alternative, you can search the site index manually. Or <a href="https://www.google.com/?q=site:kalabasa.github.io">use Google.</a></p>
			</noscript>
		</div>
		<template data-item-type="project">
			<a class="results-item anchor-plain" href="\{{{ url }}}">
				<div class="name">\{{ item.name }}</div>
				<div class="description">\{{ item.short_description }}</div>
			</a>
		</template>
	</section>
{{/inline}}
{{/page}}