@require '../styl/common'
@require '../styl/page'

.main[data-page='search.html']
	display flex
	flex-direction column

	section.search
		flex 1 0 auto
		padding 10vh margin-hedge
		
		.search-form input
			font-heading1()
			display block
			width 100%
			padding 0.5em 0
			border none
			outline none
			border-bottom solid 4px color-fg
			background none
			font-weight bold
			font-size 200%
			user-select all
			&::selection
				color color-fgi
				background color-accent-tint
			&:invalid // empty
				border-color rgba(color-fg, 0.2)
			&::placeholder
				color rgba(color-fg, 0.2)
			&:focus
				color color-accent-tint
				border-color color-accent-tint

		.results-info
			margin-top 1em
			opacity 0.4
		.results-empty
			margin-top 2em

		#results
			margin-top 1em
			.results-item
				position relative
				display inline-block
				padding-right 24px
				margin-right 2rem
				margin-bottom 2rem
				text-decoration inherit
				z-index 1
				.name
					font-heading2()
					font-size 160%
				.description
					color color-fg
				&::after
					content ''
					position absolute
					display block
					left 8px
					right 0
					top 18px
					bottom -8px
					background color-link
					z-index -1
				&:hover
					background color-accent
					box-shadow 0 0 0 8px color-accent
					&::after
						visibility hidden
				