@require '../styl/common'
@require '../styl/page'

image-size = 300px
image-gap = 20px
appear-duration = 0.12s
disappear-duration = 0.2s

[data-page-to^='works/']
	page-transition-color(color-accent)

.main[data-page='works.html']
	display flex
	flex-direction column

	section.works
		display flex
		flex 1 0 auto
		justify-content center
		width 100%
		padding 4em margin-hedge
		.container
			display flex
			flex 0 1 auto
			flex-direction column
			align-items flex-start
		.page-heading
			margin-bottom image-gap
		.grid
			display flex
			flex 1 1 auto
			flex-wrap wrap
			margin (- image-gap / 2)
			> *
				margin (image-gap / 2)
			&::after // spacer
				content ''
				margin-right auto
			for i in 1..3
				w = ((image-size + image-gap) * i)
				// assumming margin-hedge is in vw
				@media (min-width (w * 100 / (100 - unit(margin-hedge, '') * 2)))
					max-width w

	.projects-item
		position relative
		flex 0 1 auto
		width image-size
		height image-size
		> *
			position absolute
			left 0
			right 0
			top 0
			bottom 0
		.project-image
			width 100%
			height 100%
			object-fit cover
			background #888888 // placeholder color
			transition clip-path disappear-duration ease-swift
			clip-slant(sin(holy-angle) * image-size)
			z-index 2
			pointer-events none
		.project-link
			overflow hidden
			display block
			padding 1em
			font-heading2()
			text-decoration none
			background linear-gradient(to bottom, color-accent 10%, color-accent-tint 40%, transparent 40%)
			z-index 1
			&[href='works/kalabasa.html'] // special case
				color color-accent
				background linear-gradient(to bottom, color-bgi 40%, transparent 40%)
		.project-name
			display inline-block
			transform translateY((image-size * -0.25))
			transition transform disappear-duration appear-duration ease-swift
		&:hover
			.project-image
				clip-slant(sin(holy-angle) * image-size, 25%, 75%)
				transition clip-path appear-duration ease-swift-out
			.project-name
				transform translateY(0)
				transition transform appear-duration ease-swift-out

		&::after
			content ''
			position absolute
			left 0
			right 0
			top 0
			bottom 100%
			background color-accent
			z-index 2000
			visibility hidden
			transition left 0.3s ease-swift-in,
				right 0.3s ease-swift-in,
				top 0.06s ease-swift,
				bottom 0.1s ease-swift-in,
				transform 0.3s ease-swift-in
			transform skewY(holy-angle)
		&.item-selected::after
			left -100vw
			right -100vw
			top (sin(holy-angle) * image-size)
			bottom -50vh
			visibility visible
			transform translateY(-15vh)
