{{#> page }}
{{#*inline "head" }}
	<title>Lean Rada</title>
	<link rel="stylesheet" type="text/css" href="works.css">
{{/inline}}

{{#*inline "body" }}
	<section class="wip">
		<h1>Coming soon</h1>
		<p>This site is under construction. Come back later!</p>
	</section>
{{/inline}}
{{/page}}