@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700|Source+Code+Pro:700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@-webkit-keyframes targeted {
  0% {
    background: #ffb838;
  }
  100% {
    background: transparent;
  }
}
@keyframes targeted {
  0% {
    background: #ffb838;
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
            transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
            transform: translate3d(0, 0, -6cm) rotate3d(1, 0, 0, -40deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
            transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
}
body {
  background: #fff;
  color: rgba(0,0,0,0.667);
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.4;
}
* {
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a:not(.anchor-plain) {
  color: rgba(0,0,0,0.667);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, rgba(255,221,85,0.8)));
  background: linear-gradient(to bottom, transparent 40%, rgba(255,221,85,0.8) 40%);
  border-bottom: solid 2px rgba(255,221,85,0.8);
  text-decoration: inherit;
}
a:not(.anchor-plain):hover,
a:not(.anchor-plain):focus {
  background: rgba(255,221,85,0.8);
  -webkit-box-shadow: 0 -1px 0 2px rgba(255,221,85,0.8);
          box-shadow: 0 -1px 0 2px rgba(255,221,85,0.8);
}
a:not(.anchor-plain)[target=_blank] {
  display: inline-block;
}
a:not(.anchor-plain)[target=_blank]::after {
  display: inline-block;
  content: '';
  width: 1em;
  height: 0.75em;
  vertical-align: baseline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: url("./img/icon-open.svg") center/contain no-repeat;
}
header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 72px;
  padding: 0 5vw;
  background: #fd5;
}
header.header .header-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
header.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header.header nav ul a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  margin: 8px 12px;
  -webkit-transition: color 0.03s ease-out;
  transition: color 0.03s ease-out;
  z-index: 0;
}
header.header nav ul a::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 2.5px);
  bottom: 0;
  background: rgba(0,0,0,0.667);
  -webkit-transform: skewX(-4deg);
          transform: skewX(-4deg);
  -webkit-transition: top 0.1s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.1s cubic-bezier(0.4, 0, 0.2, 1), bottom 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
header.header nav ul a:hover,
header.header nav ul a:focus,
header.header nav ul a[href='#'] {
  color: #fd5;
}
header.header nav ul a:hover::before,
header.header nav ul a:focus::before,
header.header nav ul a[href='#']::before {
  top: 0;
  bottom: 0;
}
header.header nav ul a:hover[href='#'],
header.header nav ul a:focus[href='#'] {
  opacity: 0.9;
}
header.header nav ul a:hover[href^='#']:not([href='#'])::after,
header.header nav ul a:focus[href^='#']:not([href='#'])::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border: solid 4px transparent;
  border-top-color: rgba(0,0,0,0.667);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
footer.footer {
  width: 100%;
  padding: 2em 5vw;
  font-size: 80%;
  background: #2d2d2d;
  color: rgba(255,255,255,0.2);
}
body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
}
.main.page-enter {
  visibility: visible !important;
  z-index: 5000;
  -webkit-animation: pageenter 0.4s cubic-bezier(0, 0, 0.2, 1) both;
          animation: pageenter 0.4s cubic-bezier(0, 0, 0.2, 1) both;
}
.main.page-exit {
  z-index: -5000;
  -webkit-animation: pageexit 0.4s cubic-bezier(0.4, 0, 1, 1) both;
          animation: pageexit 0.4s cubic-bezier(0.4, 0, 1, 1) both;
}
@-webkit-keyframes pageenter {
  from {
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
    -webkit-clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
            clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
  }
}
@keyframes pageenter {
  from {
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
    -webkit-clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
            clip-path: polygon(0% calc(100vh - -6.9756474vw), 100% 100vh, 100% 100%, 0% 100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% -6.9756474vw, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes pageexit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
            clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
            clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
  }
}
@keyframes pageexit {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
            clip-path: polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - -6.9756474vw));
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
            clip-path: polygon(0% 0%, 100% 0, 100% -6.9756474vw, 0% 0);
  }
}
.main[data-page='works.html'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main[data-page='works.html'] section.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 4em 10vw;
}
.main[data-page='works.html'] section.works .grid {
  display: grid;
  align-self: center;
  width: calc(900px + 4rem);
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  grid-auto-rows: 300px;
  grid-auto-flow: row;
  grid-gap: 2rem;
}
.main[data-page='works.html'] h1.page-heading {
  grid-column: 1/-1;
}
.main[data-page='works.html'] .projects-item {
  position: relative;
  overflow: hidden;
}
.main[data-page='works.html'] .projects-item > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.main[data-page='works.html'] .projects-item .project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-clip-path: polygon(0% 0%, 100% calc(0% + -20.9269422px), 100% 100%, 0% calc(100% - -20.9269422px));
          clip-path: polygon(0% 0%, 100% calc(0% + -20.9269422px), 100% 100%, 0% calc(100% - -20.9269422px));
  z-index: 2;
  pointer-events: none;
}
.main[data-page='works.html'] .projects-item .project-link {
  display: block;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fd5), color-stop(40%, #ffb838), color-stop(40%, transparent));
  background: linear-gradient(to bottom, #fd5 10%, #ffb838 40%, transparent 40%);
  z-index: 1;
}
.main[data-page='works.html'] .projects-item .project-name {
  display: inline-block;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  -webkit-transition: -webkit-transform 0.2s 0.12s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.2s 0.12s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s 0.12s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s 0.12s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s 0.12s cubic-bezier(0.4, 0, 0.2, 1);
}
.main[data-page='works.html'] .projects-item:hover .project-image {
  -webkit-clip-path: polygon(0% 25%, 100% calc(25% + -20.9269422px), 100% 75%, 0% calc(75% - -20.9269422px));
          clip-path: polygon(0% 25%, 100% calc(25% + -20.9269422px), 100% 75%, 0% calc(75% - -20.9269422px));
  -webkit-transition: -webkit-clip-path 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-clip-path 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: clip-path 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: clip-path 0.12s cubic-bezier(0, 0, 0.2, 1), -webkit-clip-path 0.12s cubic-bezier(0, 0, 0.2, 1);
}
.main[data-page='works.html'] .projects-item:hover .project-name {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.12s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1);
}
