{{#> page }}
{{#*inline "head" }}
	<title>Works | Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="works.css">
	<script id="main-js" src="works.js" async defer></script>
{{/inline}}

{{#*inline "body" }}
	<section class="works">
		<div class="container">
			<h1 class="page-heading">Works</h1>
			<div class="grid">
				{{#each projects }}
				<div class="projects-item">
					<image class="project-image" src="{{{ image.src }}}" title="{{{ image.title }}}"/>
					<a class="project-link anchor-plain" href="works/{{{ id }}}.html">
						<span class="project-name">{{ name }}</span>
					</a>
				</div>
				{{/each}}
			</div>
		</div>
	</section>
{{/inline}}
{{/page}}