@require '../styl/common'
@require '../styl/page'

image-size = 300px
image-gap = 20px

.main[data-page='works.html']
	display flex
	flex-direction column

	section.works
		display flex
		flex 1 0 auto
		justify-content center
		width 100%
		padding 4em margin-hedge
		.container
			display flex
			flex 0 1 auto
			flex-direction column
			align-items flex-start
		.grid-header
			display flex
		.grid
			display flex
			flex 1 1 auto
			flex-wrap wrap
			justify-content center
			align-content flex-start
			margin (- image-gap / 2)
			padding-bottom 5vw
			transform skewY(holy-angle)
			> *
				margin (image-gap / 2)
			&::after // spacer
				content ''
				margin-right auto
			for i in 1..3
				w = ((image-size + image-gap) * i)
				// assumming margin-hedge is in vw
				@media (min-width (w * 100 / (100 - unit(margin-hedge, '') * 2)))
					width w

	.filter
		display flex

	#filter-checkbox
		display none
		&:checked ~ .filter-button
			opacity 1
		&:not(:checked) ~ .filter-bar
			display none

	.filter-button
		cursor pointer
		opacity 0.3
		&:hover .filter-icon
			transform scale(1.1)
			opacity 0.6

	.filter-icon
		width 1.5em
		height 1.5em
		margin 0 0.5em
		object-fit contain
		object-position center center
		transform-origin center center

	.filter-bar
		display flex
	.filter-bar-arrow
		width 1.5em
		height 1.5em
		margin 0 0.75em
		object-fit contain
		object-position center center

	.filter-type-button
		cursor pointer
		&:hover .filter-type-icon
			transform scale(1.1)
			opacity 0.6
	.filter-type-radio
		display none
		&:checked ~ .filter-type-icon
			opacity 1
	.filter-type-icon
		width 1.5em
		height 1.5em
		margin 0 0.5em
		object-fit contain
		object-position center center
		transform-origin center center
		opacity 0.3

	.projects-item
		display block
		position relative
		flex 0 1 auto
		width image-size
		height image-size
		background mix(color-bg, color-bg2, 90%)
		text-decoration none
		overflow hidden
		z-index 1
		transition transform 0.2s ease-back-out

		&.projects-item-hiding
			animation exit-item 0.2s 0s ease-swift-out both
		&.projects-item-hidden
			display none

		.grid-filtered > ^[-1..-1]
			animation enter-item 0.1s 0s ease-swift-out both

		:not(.grid-filtered) > ^[-1..-1]
			animation enter-item 0.3s ease-swift-out backwards
			for i in 1..10
				&:nth-child({i})
					animation-delay 0.4s + (0.4s * math(i / 10, 'sqrt'))
			&:nth-child(n + 10)
				animation-delay 0.8s

		> *
			display block
			position absolute
			left 0
			right 0
			top (image-size * sin(holy-angle))
			bottom (image-size * sin(holy-angle))
			transform skewY(- holy-angle)

		.project-image
			width 100%
			height (image-size * (1 - 2 * sin(holy-angle)))
			background color-bg2 // placeholder
			object-fit cover
			opacity 0.4
			z-index 1

		.project-info
			display block
			z-index 2
			^[-1]:nth-child(4n) ^[-1..-1]
				padding-top 20%
			^[-1]:nth-child(4n + 1) ^[-1..-1]
				padding-top 55%
			^[-1]:nth-child(4n + 2) ^[-1..-1]
				padding-top 35%
			^[-1]:nth-child(4n + 3) ^[-1..-1]
				padding-top 75%
			^[-1]:nth-child(5n) ^[-1..-1]
			^[-1]:nth-child(5n + 3) ^[-1..-1]
				text-align left
			^[-1]:nth-child(5n + 1) ^[-1..-1]
				text-align center
			^[-1]:nth-child(5n + 2) ^[-1..-1]
			^[-1]:nth-child(5n + 4) ^[-1..-1]
				text-align right

		.project-name
			font-heading2()
			display inline
			position relative
			padding 0.25em 0.5em
			color color-fgi
			background color-bgi
			font-size 120%
			opacity 1
			-webkit-box-decoration-break clone // FIXME
			box-decoration-break clone
		
		.project-description
			display inline
			position relative
			padding 0.125em 0.25em
			color color-fgi
			// background color-bgi
			font-size 120%
			font-weight bold
			visibility hidden
			-webkit-box-decoration-break clone // FIXME
			box-decoration-break clone

		&:hover, &:focus
			for i in (1..color-accents)
				&:nth-child({color-accents}n + {i})
					background linear-gradient(
						to right,
						lookup('color-accent' + i) -50%,
						lookup('color-accent' + i + '-tint') 75%
					)
			transform scale(1.03)
			z-index 100
			.project-image
				opacity 0.06
				@supports (mix-blend-mode: soft-light)
					opacity 0.4
					mix-blend-mode soft-light
			.project-name
				color color-fg
				background color-bg
			.project-description
				visibility visible

		&.item-selected
			background color-bgi
			outline none
			transform scale(12, 8) translateY(30%)
			z-index 2000
			transition transform page-transition-duration ease-swift-in
			> *
				display none
			&::after
				content ''
				position absolute
				left 0
				right 0
				top 0
				bottom 0
				background @background
				z-index 2100
				animation fade (page-transition-duration / 4) (page-transition-duration / 4) ease-swift-in both

	@keyframes enter-item
		from
			opacity 0
			transform translateX(-5%)
		to
			opacity 1
			transform none

	@keyframes exit-item
		from
			opacity 1
			transform none
		to
			opacity 0
			transform translateX(5%)
