{{#> page }}
{{#*inline "head" }}
	<title>Lean Rada</title>
{{/inline}}
{{#*inline "pjax-head" }}
	<link id="main-css" rel="stylesheet" href="works.css">
	<script id="main-js" src="works.js"></script>
{{/inline}}

{{#*inline "body" }}
	<section class="wip">
		<h1>Coming soon</h1>
		<p>This site is under construction. Come back later!</p>
	</section>
{{/inline}}
{{/page}}