<div :class="'card-grid' + (attrs.animated ? ' card-grid-animated' : '')">
  <slot />
</div>

<script render>
  let styles = "";
  for (let i = 1; i <= children.length; i++) {
    styles += `
    .card-grid > *:nth-child(${i}) {
      --card-grid-item-delay: ${Math.min(i - 1, Math.log(i * 8)) * 0.3}s;
    }`;
  }
  return html`<style>
    ${styles}
  </style>`;
</script>

<style>
  .card-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, calc(min(546px, 100%)));
    gap: 60px;
  }
  @media (max-width: 900px) {
    .card-grid {
      gap: 30px;
    }
  }
  @media (prefers-reduced-motion) {
    .card-grid * {
      animation: none !important;
    }
  }
</style>
