<script render>
  yield * renderMediaElement();
</script>

<script static>
  const path = require("node:path");
  const { isExternal } = require("../../lib/is_external.js");
  const { getImageAnalysis, isImg } = require("../../lib/image_analysis.js");

  const prod = process.env.NODE_ENV === "production";

  // server can't know client’s viewport, so we assume this
  const priorScreenAspectRatio = 2 / 3;

  async function* renderMediaElement() {
    const {
      width: widthAttrValue,
      height: heightAttrValue,
      placeholder,
    } = await widthHeightAttrs(
      attrs.src,
      attrs.width,
      attrs.height,
      attrs.placeholderRatio ? parseFloat(attrs.placeholderRatio) : undefined
    );

    const widthAttr = widthAttrValue ? `width="${widthAttrValue}"` : "";
    const heightAttr = heightAttrValue ? `height="${heightAttrValue}"` : "";
    const dataPlaceholderAttr = placeholder ? `data-placeholder` : "";

    // todo: video placeholders
    // todo: aspect-ratio
    // todo: lazy-load
    const commonVideoAttrs = [
      `muted autoplay loop playsinline`,
      attrs.alt && `aria-label="${attrs.alt}"`,
      attrs.playbackRate &&
        `onloadstart="this.playbackRate=${attrs.playbackRate}"`,
    ]
      .filter((a) => a)
      .join(" ");

    if (isExternal(attrs.src)) {
      yield html`<img
        loading="lazy"
        {...attrs}
        ${widthAttr}
        ${heightAttr}
        ${dataPlaceholderAttr}
      />`;
    } else if (isResizeableImg(attrs.src)) {
      yield html`<responsive-img
        spec="${defaultResponsiveSpec()}"
        loading="lazy"
        {...attrs}
        ${widthAttr}
        ${heightAttr}
        ${dataPlaceholderAttr}
        style="${(attrs.style ?? "") +
        ";" +
        (await imgStyle(attrs.src, attrs.width, attrs.height))}"
      />`;
    } else if (isImg(attrs.src)) {
      yield html`<img
        loading="lazy"
        {...attrs}
        ${widthAttr}
        ${heightAttr}
        ${dataPlaceholderAttr}
        style="${(attrs.style ?? "") +
        ";" +
        (await imgStyle(attrs.src, attrs.width, attrs.height))}"
      />`;
    } else if (isVideo(attrs.src)) {
      yield html`<responsive-video
        spec="${defaultResponsiveSpec()}"
        {...attrs}
        ${widthAttr}
        ${heightAttr}
        ${dataPlaceholderAttr}
        ${commonVideoAttrs}
      >
        Video: ${attrs.alt} | Source: ${attrs.src}
      </responsive-video>`;
    } else {
      throw new Error("invalid media src: " + attrs.src);
    }
  }

  function isResizeableImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".png" || ext === ".jpg";
  }

  function isVideo(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".mp4";
  }

  function defaultResponsiveSpec() {
    return "100% [664) 664";
  }

  async function widthHeightAttrs(
    src,
    widthAttr = undefined,
    heightAttr = undefined,
    placeholderRatio = undefined
  ) {
    if (isExternal(src) || !isImg(src) || widthAttr || heightAttr) {
      return { width: widthAttr, height: heightAttr, placeholder: false };
    } else {
      const { width, height } = await getImageAnalysis(
        path.join(__rootDir, src),
        src
      );

      const containerRatio = placeholderRatio ?? priorScreenAspectRatio;

      return {
        width: Math.min(width / height / containerRatio, 1) * 100 + "%",
        placeholder: true,
      };
    }
  }

  async function imgStyle(src, widthAttr, heightAttr) {
    const { width, height, dominant } = await getImageAnalysis(
      path.join(__rootDir, src),
      src
    );

    return `aspect-ratio: ${width / height};` + `background: ${dominant}`;
  }
</script>

<script client defer>
  (() => {
    const images = document.querySelectorAll("img[spec],img[data-placeholder]");

    for (const img of images) {
      if (watchImage(img)) {
        const intervalID = setInterval(() => watchImage(img, intervalID), 200);
      }
      img.addEventListener("load", onLoadImage, { once: true });
    }

    function watchImage(img, intervalID) {
      if (img.naturalWidth > 0 || img.naturalHeight) {
        img.style.objectPosition = null;
        if (img.hasAttribute("data-placeholder")) {
          img.removeAttribute("width");
          img.removeAttribute("height");
          img.removeAttribute("data-placeholder");
        }

        if (intervalID != undefined) clearInterval(intervalID);
        return false;
      } else {
        if (!img.style.objectPosition) {
          img.style.objectPosition = "100vw";
        }
        return true;
      }
    }

    function onLoadImage(event) {
      event.currentTarget.style.background = null;
    }
  })();
</script>
