<script render>
  yield * renderMediaElement();
</script>

<script static>
  const path = require("node:path");
  const { getImageAnalysis } = require("../../lib/image_analysis.js");

  const prod = process.env.NODE_ENV === "production";

  // server can't know client’s viewport, so we assume this
  const priorAspectRatio = 2 / 3;

  async function* renderMediaElement() {
    if (isExternal(attrs.src)) {
      yield html`<img
        class="${attrs.class}"
        alt="${attrs.alt ?? ""}"
        src="${attrs.src}"
        width="${attrs.width}"
        height="${attrs.height}"
        loading="lazy"
      />`;
    } else if (isResizeableImg(attrs.src)) {
      yield html`<responsive-img
        class="${attrs.class}"
        alt="${attrs.alt ?? ""}"
        src="${attrs.src}"
        spec="${attrs.spec || defaultResponsiveImageSpec()}"
        loading="lazy"
        width="${attrs.width}"
        height="${attrs.height}"
        style="${await imgStyle(attrs.src, attrs.width, attrs.height)}"
      />`;
    } else if (isImg(attrs.src)) {
      yield html`<img
        class="${attrs.class}"
        alt="${attrs.alt ?? ""}"
        src="${attrs.src}"
        loading="lazy"
        width="${attrs.width}"
        height="${attrs.height}"
        style="${await imgStyle(attrs.src, attrs.width, attrs.height)}"
      />`;
    } else if (isVideo(attrs.src)) {
      // todo: video placeholders
      // todo: aspect-ratio
      // todo: <responsive-video> component
      // todo: lazy-load
      yield html`<video
        class="${attrs.class}"
        src="${attrs.src}"
        width="${attrs.width}"
        height="${attrs.height}"
        muted
        autoplay
        loop
        aria-label="${attrs.alt ?? ""}"
        ${attrs.playbackRate
          ? 'onloadstart="this.playbackRate = ' + attrs.playbackRate + '"'
          : ""}
      >
        Video: ${attrs.alt} | Source: ${attrs.src}
      </video>`;
    } else {
      throw new Error("invalid media src: " + attrs.src);
    }
  }

  function isResizeableImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".png" || ext === ".jpg";
  }

  function isImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".png" || ext === ".jpg" || ext === ".gif";
  }

  function isVideo(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".mp4";
  }

  function isExternal(src) {
    return /^(\w+:)?\/\/.*$/.test(src.trim());
  }

  function defaultResponsiveImageSpec() {
    return "100% [664) 664";
  }

  async function imgStyle(src, widthAttr, heightAttr) {
    const {
      metadata: { width, height },
      stats: { dominant },
    } = await getImageAnalysis(path.join(__outputDir, src));

    let sizeCss = "";
    if (!widthAttr && !heightAttr) {
      const isWide = width > height * priorAspectRatio;
      sizeCss = isWide ? `width: 100%` : `height: ${height}px`;
    }

    const { r, g, b } = dominant;
    const bg =
      "#" + [r, g, b].map((v) => v.toString(16).padStart(2, "0")).join("");

    return `${sizeCss}; aspect-ratio: ${width / height}; background: ${bg}`;
  }
</script>

<script client defer>
  (() => {
    const images = document.querySelectorAll("img[spec]");

    for (const img of images) {
      if (watchImage(img)) {
        const intervalID = setInterval(() => watchImage(img, intervalID), 200);
      }
      img.addEventListener("load", onLoadImage);
    }

    function watchImage(img, intervalID) {
      if (img.naturalWidth > 0 || img.naturalHeight) {
        img.style.objectPosition = null;
        img.style.width = null;
        img.style.height = null;

        if (intervalID != undefined) clearInterval(intervalID);
        return false;
      } else {
        if (!img.style.objectPosition) {
          img.style.objectPosition = "100vw";
        }
        return true;
      }
    }

    function onLoadImage(event) {
      event.currentTarget.style.background = null;
    }
  })();
</script>
