<div
  :class="'text-with-bg ' + (attrs.class ?? '')"
  :style="'--text-with-bg-color: ' + attrs.color"
>
  <script render>
    const tag = attrs.tag ? attrs.tag.replace(/\W/g, "") : "span";
    const innerClass = attrs.innerClass ?? "";
    return html`<${tag} class="text-with-bg-span ${innerClass}"><slot /></${tag}>`;
  </script>
</div>

<style>
  .text-with-bg-span {
    display: inline;
    margin: 0;
    padding: 0.7em;
    padding: 0.35lh;
    border-radius: 18px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font: inherit;
    background: var(--text-with-bg-color);
  }
</style>
