<gallery-grid>
  <gallery-grid-item
    href="https://leanrada.com/genuary_2023/18/"
    imgsrc="{url('../../site/labs/wc-sim-18.png')}"
    label="Watercolour simulator [Warning: GPU heavy]"
  />
  <gallery-grid-item
    href="https://leanrada.com/genuary_2023/09/"
    imgsrc="{url('../../site/labs/wc-sim-9.png')}"
    label="Flowers in simulated watercolour [Warning: GPU heavy]"
  />
  <gallery-grid-item
    href="https://codepen.io/kalabasa/pen/OJLQEWY"
    videosrc="{url('../../site/labs/3d-hamburger.opt.mp4')}"
    label="3D hamburger menu animation"
  />
  <gallery-grid-item
    href="https://codepen.io/kalabasa/pen/oVMOZK"
    imgsrc="{url('../../site/labs/pure-css-ai-tic-tac-toe.png')}"
    label="Tic-tac-toe AI written in pure CSS. Can you beat a stylesheet?"
  />
  <gallery-grid-item
    href="https://leanrada.com/genuary_2022/04/"
    imgsrc="{url('../../site/labs/floridablanca.png')}"
    label="Floridablanca - flow art generator"
  />
  <gallery-grid-item
    href="https://leanrada.com/genuary_2023/28/"
    imgsrc="{url('../../site/labs/poetry-gen.png')}"
    label="Poetry generator"
  />
</gallery-grid>
