<page>
  <div class="blog-page">
    <div class="content">
      <slot />
    </div>
  </div>
</page>

<style>
  .blog-page {
    display: flex;
    justify-content: center;
  }

  .content {
    max-width: 700px;
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.02em;
    color: #ddd;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 0.04em;
    margin: 36px 0;
  }
  .markdown h1 {
    text-align: center;
    font-size: 200%;
  }
  .markdown h2 {
    font-size: 150%;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-size: 120%;
  }

  .markdown p {
    font-family: "Miriam Libre", Futura, "Trebuchet MS", Arial, sans-serif;
    margin: 36px 0;
  }

  .markdown img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 12px;
    text-align: center;
  }

  /* todo: convert to component? <caption> */
  .markdown .caption {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-size: 80%;
  }

  .markdown .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* todo: convert to component? <bleed> */
  .markdown .bleed {
    display: block;
    margin: 90px 0;
    max-height: 80vh;
  }
  .markdown .bleed > img,
  .markdown .bleed > video,
  .markdown .bleed > div {
    margin: 0;
    position: relative;
    left: 50%;
    width: 1400px;
    max-width: max(1400px, 80vw);
    transform: translateX(-50%);
  }
</style>
