<page>
  <div class="blog-page">
    <div class="content">
      <slot />
    </div>
  </div>
</page>

<style>
  .blog-page {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .content {
    padding: 60px 18px;
    width: 100%;
    max-width: 700px;
    font-family: var(--reading-font, sans-serif);
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.02em;
    color: #ddd;
    box-sizing: border-box;
  }

  .markdown > h1,
  .markdown > h2,
  .markdown > h3,
  .markdown > h4,
  .markdown > h5,
  .markdown > h6 {
    font-family: var(--default-font, monospace);
    font-weight: lighter;
    font-style: italic;
    line-height: 1.6;
    letter-spacing: 0.04em;
    margin: 48px 0 36px;
  }
  .markdown > h1 {
    text-align: center;
    font-size: 200%;
  }
  .markdown > h2 {
    font-size: 150%;
  }
  .markdown > h3,
  .markdown > h4,
  .markdown > h5,
  .markdown > h6 {
    font-size: 120%;
    font-weight: bold;
  }

  .markdown > p {
    margin: 36px 0;
  }

  .markdown > hr {
    width: 36px;
    margin: 90px auto;
    border: solid 1.5px #ccc;
    background: #ccc;
    border-radius: 3px;
  }

  .markdown code:not([class]):not([class]) {
    display: inline-block;
    padding: 0 6px;
    border-radius: 6px;
    font-family: var(--default-font, monospace);
    font-size: 15px;
    background: var(--card-clr);
  }
  .markdown > pre:not([class]) > code:not([class]) {
    display: block;
    padding: 18px;
    border-radius: 18px;
    line-height: 1.6;
    font-size: 15px;
    overflow-x: auto;
  }

  .markdown > blockquote {
    position: relative;
    margin: 0;
    padding: 18px 24px;
    border-radius: 18px;
    border: solid 1px var(--clr0);
    font-size: 21px;
  }
  .markdown > blockquote::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    height: 24px;
    width: 24px;
    border-bottom: solid 1px var(--clr0);
    box-sizing: border-box;
  }
  .markdown > blockquote::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 24px;
    bottom: 18px;
    width: 24px;
    border-top-right-radius: 24px;
    border: solid var(--clr0);
    border-width: 1px 1px 0 0;
    box-shadow: 9px 0 0 var(--bg-clr), 18px 0 0 var(--bg-clr);
    box-sizing: border-box;
  }
  .markdown > blockquote > :first-child {
    margin-top: 0;
  }
  .markdown > blockquote > :last-child {
    margin-bottom: 0;
  }
  .markdown > blockquote cite {
    display: block;
    margin-top: 12px;
    font-size: 15px;
    font-style: inherit;
  }
  .markdown > blockquote cite::before {
    content: "—";
  }

  .markdown > iframe,
  .markdown > p > iframe {
    max-width: calc(100vw - 18px);
    border: none;
    border-radius: 18px;
    background: #fff;
  }

  .markdown .center {
    text-align: center;
  }
  .markdown .center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* todo? convert to component <blog-bleed>, reuse across <blog-media> */
  .markdown .bleed {
    position: relative;
    left: 50%;
    width: 100vh;
    max-width: max(min(100vw, 800px), 80vw);
    transform: translateX(-50%);
  }

  /* todo: convert to component <caption>, reuse across <blog-media> */
  .markdown .caption {
    display: block;
    font-size: 15px;
  }
</style>
