<page>
  <div class="blog-page">
    <div class="content">
      <slot />
    </div>
  </div>
</page>

<style>
  .blog-page {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .content {
    padding: 60px 18px;
    width: 100%;
    max-width: 700px;
    font-family: var(--reading-font, sans-serif);
    font-size: 18px;
    line-height: 2.2;
    letter-spacing: 0.02em;
    color: #ddd;
    box-sizing: border-box;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-family: var(--default-font, monospace);
    font-weight: lighter;
    font-style: italic;
    line-height: 1.6;
    letter-spacing: 0.04em;
    margin: 36px 0;
  }
  .markdown h1 {
    text-align: center;
    font-size: 200%;
  }
  .markdown h2 {
    font-size: 150%;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-size: 120%;
  }

  .markdown p {
    margin: 36px 0;
  }

  .markdown hr {
    width: 36px;
    margin: 90px auto;
    border: solid 1.5px #ccc;
    background: #ccc;
    border-radius: 3px;
  }

  .markdown code {
    display: inline-block;
    padding: 0 6px;
    border-radius: 6px;
    font-family: var(--default-font, monospace);
    background: var(--card-clr);
  }
  .markdown pre code {
    display: block;
    padding: 18px;
    border-radius: 18px;
    line-height: 1.6;
    overflow-y: auto;
  }

  .markdown .center {
    text-align: center;
  }
  .markdown .center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* todo: convert to component <caption>, reuse across <blog-media> */
  .markdown .caption {
    display: block;
    font-size: 15px;
  }
</style>
