<link rel="preload" href="/fonts/space/SpaceMono-Italic.ttf" as="font" type="font/ttf" crossorigin>
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="webmention" href="https://webmention.io/leanrada.com/webmention" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="leanrada.com feed"
  href="/rss.xml"
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="only dark"><meta charset="utf-8" />

<cursor />

<script
  async
  src="https://leanrada.com/analytics/analytics.js"
></script>

<script render>
  const dev = process.env.NODE_ENV === "development";
  if (dev) {
    yield html`<${"script"} id="livejs" defer src="https://livejs.com/live.js"></${"script"}>`;
  }
</script>
