<div class="markdown">
  <script render>
    const { marked } = require("marked");

    let indent = null;

    const mdText = children.map(getMdText).join("");
    return html`${marked.parse(mdText)}`;

    function getMdText(node) {
      if (node.nodeType === /*ELEMENT_NODE*/ 1) {
        return node.outerHTML;
      }

      let text = node.textContent;

      // detect indentation from first line
      if (indent == null) {
        indent = text.match(/^\n([^\S\n]+)/)?.[1] ?? "";
      }

      if (indent) {
        text = text.replaceAll("\n" + indent, "\n");
      }

      return text;
    }
  </script>
</div>
