<div class="page-wrapper">
  {attrs.noheader ? null : html`<main-header
    path-group="${attrs.pathGroup}"
    icon-src="${attrs.headerIconSrc}"
  />`}
  <div class="page-wrapper-content">
    <slot />
  </div>
  {attrs.nofooter ? null : html`<main-footer />`}
</div>

<common-html />

<style>
  @font-face {
    font-family: "Space Mono";
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/space/SpaceMono-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Space Mono";
    font-display: swap;
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/space/SpaceMono-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/iosevka/iosevka-custom-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/iosevka/iosevka-custom-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Miriam Libre";
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/miriam/MiriamLibre-Regular.ttf") format("truetype");
  }

  :root {
    --default-font: "Iosevka", "Space Mono", monaco, Consolas, "Lucida Console",
      monospace;
    --display-font: "Space Mono", "Iosevka", monaco, Consolas, "Lucida Console",
      monospace;
    --reading-font: "Miriam Libre", Futura, "Trebuchet MS", Arial, sans-serif;

    --bg-clr: #111616;
    --card-clr: #222c2c;
    --clr0-light: #54f8c1;
    --clr0: #0ad591;
    --clr0-dark: #05b97d;
    --clr1: #df2063;

    --text-clr: #fff;
    --text2-clr: #999;

    --ease: cubic-bezier(0.8, 0, 1, 1);
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--default-font, monospace);
    font-size: 15px;
    font-display: swap;
    font-variant-ligatures: none;
    background-color: var(--bg-clr, #111);
    color: var(--text-clr, #fff);
    overflow-x: hidden;
  }
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .page-wrapper-content {
    flex: 1 1 auto;
  }
</style>
