{attrs.noheader ? null : html`<main-header select="${attrs.headerSelect}" />`}
<slot />
{attrs.nofooter ? null : html`<main-footer />`}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />

<style>
  @font-face {
    font-family: "Space Mono";
    src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Space Mono";
    font-style: italic;
    src: url("/fonts/SpaceMono-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Miriam Libre";
    src: url("/fonts/MiriamLibre-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Miriam Libre";
    font-weight: bold;
    src: url("/fonts/MiriamLibre-Bold.ttf") format("truetype");
  }

  :root {
    --default-font: "Space Mono", monaco, Consolas, Lucida Console, monospace;
    --reading-font: "Miriam Libre", Futura, "Trebuchet MS", Arial, sans-serif;

    --bg-clr: #111;
    --card-clr: #222;
    --clr0-light: #54f8c1;
    --clr0: #0ad591;
    --clr0-dark: #018b5d;
    --clr1: #df2063;

    --ease: cubic-bezier(0.8, 0, 1, 1);
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--default-font, monospace);
    background-color: var(--bg-clr, #111);
    color: #fff;
    overflow-x: hidden;
  }

  a {
    color: var(--clr0-light, #fff);
  }
  a:visited {
    color: var(--clr0, #fff);
  }
</style>
