<div class="markdown">
  <script render>
    const { marked } = require("marked");

    const renderer = new marked.Renderer();
    const renderLink = renderer.link;
    const renderTable = renderer.table;

    renderer.link = (href, title, text) => {
      const a = renderLink.call(renderer, href, title, text);
      return a.replace(/^<a/, "<blog-text-link").replace(/a>$/, "blog-text-link>");
    };

    renderer.table = (header, body) => {
      return (
        '<div class="markdown-table">' +
        renderTable.call(renderer, header, body) +
        "</div>"
      );
    };

    const tokenizer = {
      html(html, block) {
        // ignore code-blocks
        const match = html.match(/^[<]code-block(.|\n)+?[<][/]code-block[>]/);
        if (match) {
          return {
            type: "html",
            raw: match[0],
            text: match[0],
          };
        }
        return false;
      },
    };

    marked.use({ renderer, tokenizer });

    let indent = null;

    const mdText = children.map(getMdText).join("");
    return html`${marked.parse(mdText)}`;

    function getMdText(node) {
      if (node.nodeType === /*ELEMENT_NODE*/ 1) {
        return node.outerHTML;
      } else if (node.nodeType === /*COMMENT_NODE*/ 8) {
        return `<!-- ${node.textContent} -->`;
      } else if (node.nodeType !== /*TEXT_NODE*/ 3) {
        return "";
      }

      let text = node.textContent;

      // detect indentation from first line
      if (indent == null) {
        indent = text.match(/^\n([^\S\n]+)/)?.[1] ?? "";
      }

      if (indent) {
        text = text.replaceAll("\n" + indent, "\n");
      }

      return text;
    }
  </script>
</div>
