$very-slow: 0.7s;
$slow: 0.4s;
$fast: 0.2s;
$very-fast: 0.1s;
$ease: cubic-bezier(0.5,0,0,1);
$ease-out: cubic-bezier(0.2,0,0.25,1);
$ease-enter: cubic-bezier(0.2,0.5,0.25,1);
$ease-in: cubic-bezier(0.75,0,0.8,1);
$ease-exit: cubic-bezier(0.75,0,0.8,0.5);

.contact-entry {
	a {
		transition: color $fast $ease,
	                background-color $fast $ease,
	                padding $fast $ease;
	}
}

#nav {
	&.animated {
		transition: box-shadow $fast $ease;
		&.raised {
			transition: box-shadow $very-slow $ease;
		}
	}

	li {
		transition: background-color $fast $ease-enter;
	}
}
