$slow: 0.6s;
$speed: 0.4s;
$fast: 0.2s;
$ease: cubic-bezier(0.5,0,0,1);
$ease-out: cubic-bezier(0.2,0,0.25,1);
$ease-enter: cubic-bezier(0.2,0.5,0.25,1);
$ease-in: cubic-bezier(0.75,0,0.8,1);
$ease-exit: cubic-bezier(0.75,0,0.8,0.5);

.overlay-btn {
	transition:
		background-color $fast $ease-in,
		padding $fast $ease-out;
	svg path {
		transition: fill $fast $ease-in;
	}
}

#gallery-container {
	.container-btn-gallery-nav {
		transition: height 0s linear $fast;
		&:hover {
			transition: none;
		}
	}
}

#gallery {
	article:hover {
		h1 {
			transition:
				background-color $speed $ease-in,
				bottom $speed $ease-enter;
		}
		p {
			transition:
				background-color $speed $ease-in,
				top $speed $ease-enter;
		}
	}
	article {
		transition: flex-basis $speed $ease;
		h1 {
			transition:
				background-color $speed $ease-in,
				bottom $speed $ease-exit;
		}
		p {
			transition:
				background-color $speed $ease-in,
				top $speed $ease-exit;
		}
		&::after {
			transition: background-color $speed $ease-in;
		}
	}
}

#nav {
	li {
		transition: background-color $fast $ease-enter;
	}
}

@mixin animation-bobbing {
	animation: bobbing 0.3s ease-in-out infinite alternate;
}
@keyframes bobbing {
	from {
		transform: translatey(2px);
	}
	to {
		transform: translateY(-2px);
	}
}