$media-break-sm: 10in;

$color-bg: #1D2E4D;
$color-bg-2: darken($color-bg, 5%);
$color-bg-3: lighten($color-bg, 5%);
$color-fg: #FFFDE3;
$color-fg-2: mix($color-bg, $color-fg, 45%);
$color-fg-3: mix($color-bg, $color-fg, 60%);
$color-accent: #63D1FF;

$color-timeline: $color-fg;

$timeline-stroke-size: 4px;
$timeline-dot-size: 16px;
$timeline-tail-size-sm: 3mm;
$timeline-tail-size-lg: 6mm;
$timeline-fade-length: 6em;
$timeline-entry-width-sm: 80vw;
$timeline-entry-width-lg: 30vw;

$hello-portrait-size: 6rem;

$nav-height-sm: 2.5rem;
$nav-height-lg: 3rem;

