@import "constants";

ul.grid {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;

	&>li {
		flex: 1 1 auto;

		@include media-lg {
			flex: 0 0 40%;
		}
	}
}