@import "constants";

ol.timeline {
	list-style-type: none;
	position: relative;
	width: 0;
	margin: 0 5%;
	@include media-lg {
		margin: 0 auto;
	}

	&>li {
		// Line points
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div.timeline-entry {
			position: relative;
			width: $timeline-entry-width-sm;
			@include media-lg {
				width: $timeline-entry-width-lg;
			}
		}

		& div.timeline-entry {
			padding-right: 0;
			padding-left: $timeline-dot-size - $timeline-stroke-size / 2 + $timeline-tail-size-sm * 2;
			@include media-lg {
				padding-left: $timeline-dot-size - $timeline-stroke-size / 2 + $timeline-tail-size-lg * 2;
			}
		}
		@include media-lg {
			&:nth-child(even) div.timeline-entry {
				right: $timeline-entry-width-lg;
				padding-left: 0;
				padding-right: $timeline-dot-size - $timeline-stroke-size / 2 + $timeline-tail-size-lg * 2;
			}
		}
	}
}