$gallery-col-size: 200px;
$gallery-col-size-expanded: 400px;

$hello-portrait-size: 100px;

$timeline-entry-width: 30vw;

$nav-height: 4rem;
$media-break-sm: 600px;

html {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	min-height: 100vh;
}

* {
	box-sizing: inherit;
}

#gallery-container, #gallery, #main-container, #hello, #footer, #nav {
	width: 100%;
}

#welcome {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 150;
}

#gallery-container {
	position: relative;
	height: 100vh;
	overflow-y: hidden;
	z-index: 100;
	.overlay-btn {
		position: relative;
	}
	.container-btn-gallery-nav {
		position: fixed;
	}
}

#gallery {
	position: fixed;
	top: 0;
	bottom: -50px;
	display: flex;
	overflow-x: scroll;
	a {
		height: 100vh;
		flex: 1 0 $gallery-col-size;
		&:hover {
			flex-basis: $gallery-col-size-expanded;
		}
	}
}

#main-container {
	position: relative;
	z-index: 200;

	section {
		width: 80%;
		margin: 10%;
	}
}

#hello-portrait {
	img {
		display: inline-block;
		width: $hello-portrait-size;
		height: $hello-portrait-size;
	}
}

#hello-text {
	display: flex;
	#hello-portrait {
		flex: 0 1 30%;
	}
	#hello-me {
		flex: 0 1 70%;
		.text {
			width: (100% * 40 / 70);
		}
	}
}

ul.timeline {
	width: 100%;
}

ul.timeline {
	list-style-type: none;
	position: relative;
	width: 0;
	margin: 0 auto;

	&>li {
		// Line points
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div.timeline-entry {
			position: relative;
			width: $timeline-entry-width;
		}
		&:nth-child(even) div.timeline-entry {
			right: $timeline-entry-width;
			padding-right: 36px;
		}
		&:nth-child(odd) div.timeline-entry {
			padding-left: 36px;
		}
	}
}

#footer {
	position: relative;
	margin-bottom: $nav-height;
	text-align: center;
}

#nav {
	position: fixed;
	bottom: 0;
	height: $nav-height;
	z-index: 200;
	ol {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: flex;
		flex: 1 0 auto;
		text-align: center;
		height: $nav-height;
		line-height: $nav-height;

		a {
			flex: 1;
		}
	}
}

/*
* Components
*/

.overlay {
	position: absolute;
	z-index: 1000;
}
.overlay-left { left: 0; }
.overlay-right { right: 0; }
.overlay-top { top: 0; }
.overlay-bottom { bottom: 0; }
.overlay-mid {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.overlay-vmid {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}