@import "constants";

ol.timeline {
	width: $timeline-stroke-size;
	padding: 0;
	background: $color-timeline;

	&>li {
		margin-bottom: 2em;

		// Dots
		&::before {
			box-sizing: border-box;
			width: $timeline-dot-size;
			height: $timeline-dot-size;
			transform: translate(-50%, -50%) rotate(45deg);
			border-color: $color-timeline;
			border-width: $timeline-stroke-size;
			border-right: solid;
			border-top: solid;
			background: $color-bg;
		}

		&:first-child::before {
			border-top: none;
		}

		// Tails
		& div.timeline-entry::after {
			z-index: 1;
			top: 0;
			left: $timeline-dot-size;
			border-width: $timeline-tail-size-sm;
			border-color: $color-bg-2 $color-bg-2 transparent transparent;

			@include media-lg {
				border-width: $timeline-tail-size-lg;
			}
		}

		@include media-lg {
			&:nth-child(even) {

				// Dots
				&::before {
					border-right: none;
					border-top: none;
					border-left: solid;
					border-bottom: solid;
				}

				// Tails
				div.timeline-entry::after {
					left: auto;
					right: $timeline-dot-size;
					border-color: $color-bg-2 transparent transparent $color-bg-2;
				}
			}
		}
	}
	div.timeline-entry {
		&>div {
			position: relative;
			z-index: 2;
			background: $color-bg-2;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $timeline-fade-length;
		background: linear-gradient(0deg, $color-bg, $color-timeline);
	}
}