// TODO Use CDNs instead of local copies
@import "normalize-css/normalize.css";
@import "font-awesome/css/font-awesome.css";

@import url(https://fonts.googleapis.com/css?family=Kalam:300|Alegreya:400|Alegreya+Sans:300,400,400italic,700|Alegreya+SC|Alegreya+Sans+SC);

@import "constants";
@import "mixins";
@import "layout";
@import "animations";
@import "style-grid";
@import "style-timeline";


@mixin font-heading {
	font-family: "Alegreya", serif;
	font-weight: bold;
	font-size: 1.5rem;
}
@mixin font-heading-2 {
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: normal;
	font-size: 1.5rem;
}
@mixin font-body {
	font-family: "Alegreya Sans", sans-serif;
	font-weight: normal;
	font-size: 1rem;
}
@mixin font-btn {
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: normal;
	font-size: 1rem;
}


html {
	@include font-body;
	font-size: 13pt;
	line-height: 1.6em;
	background-color: $color-bg;
	color: $color-fg;
}

a {
	color: $color-accent;
}


#preloader {
	color: $color-fg;
	background-color: $color-bg-3;
}


#splash {
	background-color: darken($color-bg-2, 5%);

	* {
		-webkit-tap-highlight-color: transparent;
		-moz-tap-highlight-color: transparent;
	}
}


#start-btn {
	width: 4rem;
	height: 4rem;
	margin-bottom: -2rem;
	padding-bottom: 1.5rem;
	border: none;
	outline: none;
	border-radius: 50%;
	background-color: $color-fg;
	color: $color-bg-2;
	cursor: pointer;
	overflow: hidden;
	@include box-shadow(7);

	&:hover, &:active {
		width: 8rem;
		height: 8rem;
		font-size: 150%;
		@include box-shadow(14);
	}

	i {
		display: block;
	}
}


#main-container {
	background-color: $color-bg;
	@include box_shadow(5);
}


section {
	& .section-heading {
		@include font-heading-2;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 1em;
		text-align: left;
		@include media-lg {
			& {
				text-align: center;
			}
		}
	}
	& .text {
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 1.5em;
	}
}

.field-box {
	font-weight: bold;
	color: $color-fg-2;
	.value, .info {
		font-weight: normal;
		color: $color-fg;
	}

	.field {
		margin: 0 1rem;
		&:first-child {
			padding-top: 1rem;
		}
		&:last-child {
			padding-bottom: 1rem;
		}
	}

	&>* {
		margin-bottom: 0.1em;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}

@mixin field-box-heading {
	@include font-heading();
	font-size: 1.25em;
	margin-bottom: 0.3em;
}

@mixin field-value-tag {
	opacity: 0.8;
	font-size: 0.8em;
	font-weight: bold;
	background-color: $color-bg-3;
	padding: 0 4pt;
	margin: 2pt 0;
	border-radius: 4pt;
}


#hello {
	h1 {
		margin: 0;
		margin-top: 0.375em;
		margin-bottom: 0.25em;
		min-height: 3rem;
		@include media-lg {
			min-height: 6rem;
		}
	}
	.heading {
		margin: 0;
		margin-bottom: 1em;
		min-height: 0.7rem;
	}
	.text {
		margin: 0.6rem 0;
		text-align: left;
	}
	#hello-portrait {
		text-align: center;
		img {
			border-radius: 50%;
		}
		@include media-lg {
			margin-right: 0.4rem;
			text-align: right;
		}
	}
	#hello-me {
		@include media-lg {
			margin-left: 1rem;
		}

		h1 {
			line-height: 1em;
			font-size: 4rem;
			font-family: "Kalam", cursive;
		}
		.heading {
			line-height: 1em;
			font-size: 2rem;
			font-weight: lighter;
		}
		p {
			font-size: 1.2rem;
		}
	}
	#hello-me-title-state {
		// Allow two lines minimum, to prevent layout jumping around due to wrapping
		min-height: 2em;
	}
}

#projects {
	.project-entry {
		.name {
			@include field-box-heading;
		}
		.full-description {
			@include font-body;
			font-size: 0.9rem;
			margin-top: 1em;
		}
		.tech>.value {
			@include field-value-tag;
			display: inline-block;
		}
		.image {
			height: 14rem;
			width: 100%;
			object-fit: cover;
		}
		.link {
			font-size: 0.9rem;
			.fa {
				font-size: 80%;
			}
		}
	}
}

#experience {
	.experience-entry {
		.job {
			@include field-box-heading;
		}
		.company {
		}
		.info {
			margin-top: 1em;
		}
		.image {
			width: 100%;
		}
	}
}

#education {
	.education-entry {
		margin: auto;
		width: 96%;
		background: $color-bg-2;
		@include media-lg {
			width: 50%;
		}

		.course {
			@include font-heading;
			font-size: 1.25em;
			margin-bottom: 0.3em;
		}
	}
}

#about {
	#about-text {
		margin-left: auto;
		margin-right: auto;
		max-width: 40em;
		text-align: left;
	}
	.text {
		margin-left: 0;
		margin-right: 0;
	}
	.more-btn {
		@include font-btn;
		@include box-shadow(0);
		margin-left: auto;
		margin-right: auto;
		padding: 0.5em 1em;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: $color-bg-3;
		color: $color-fg;
		&:hover, &:active {
			@include box-shadow(2);
		}
	}
}

#footer {
	background-color: $color-bg-2;

	#contact-list {
		color: $color-fg-2;
	}
	.contact-entry {
		a {
			padding: 1em;
			color: inherit;
			&:hover {
				padding: 1em 2em;
				color: $color-fg;
				background-color: $color-bg;
			}
		}
	}

	.copytext {
		margin: 0.3em 1em;
		font-size: 0.6rem;
		color: $color-fg-2;
	}
}

#nav {
	@include font-btn;
	background-color: $color-bg-3;

	@include box_shadow(0);
	&.raised {
	  @include box_shadow(5);
	}

	ol {
		margin: 0 10%;
		@media (max-width: $media-break-sm) {
			margin: 0;
		}
	}
	li:hover {
		background-color: $color-bg-2;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}


/*
 * Components
 */


.nolist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a.plainlink {
	text-decoration: none;
	color: inherit;
}