<div class="song-card">
  <button class="song-card-play" aria-label="Play / Pause"></button>
  <audio class="song-card-audio" :src="attrs.audiosrc" controls></audio>
  <div class="song-card-title">{attrs.title} {maybeRenderTag()}</div>
  <div class="song-card-description">{attrs.description}</div>
</div>

<script static>
  function maybeRenderTag() {
    if (!attrs.tag) return null;
    return html`<tag>${attrs.tag}</tag>`;
  }
</script>

<style>
  .song-card {
    display: grid;
    grid-template-columns: min-content 18px 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "play . title"
      "play . description";
    border: solid 1px var(--card-clr);
    border-radius: 12px;
    padding: 12px;
    min-height: 84px;
    box-sizing: border-box;
    background-color: var(--bg-clr);
    background-image: linear-gradient(
      to right,
      var(--card-clr) var(--song-card-progress),
      transparent var(--song-card-progress)
    );
  }
  .song-card.song-card-playing {
    background-image: linear-gradient(
      to right,
      var(--clr0-dark) var(--song-card-progress),
      transparent var(--song-card-progress)
    );
  }

  .song-card-play {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: play;
    border: solid 1px var(--card-clr);
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: var(--bg-clr);
    cursor: pointer;
  }
  .song-card-play:focus-visible,
  .song-card-play:hover {
    background: var(--clr0-dark);
  }
  .song-card-playing .song-card-play {
    background: var(--clr0-dark);
    animation: songCardPlayingPlayButton 1s linear infinite;
  }
  .song-card-playing .song-card-play:focus-visible,
  .song-card-playing .song-card-play:hover {
    background: var(--bg-clr);
  }
  .song-card-play.song-card-play:active {
    background: var(--clr0-light);
  }

  .song-card-play::after {
    content: "";
    margin-left: 16px;
    border: solid 12px transparent;
    border-left-color: var(--text-clr);
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }
  .song-card-playing .song-card-play::after {
    content: "💿";
    margin: 0;
    border: none;
    width: auto;
    height: auto;
    font-size: 30px;
    line-height: 30px;
    filter: brightness(0.65) contrast(9);
  }
  @keyframes songCardPlayingPlayButton {
    to {
      transform: rotate(1turn);
    }
  }

  .song-card-title {
    grid-area: title;
    font-family: var(--display-font);
    font-size: 18px;
    font-style: italic;
  }

  .song-card-description {
    grid-area: description;
    font-family: var(--display-font);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.4;
  }

  .song-card-audio {
    grid-area: play;
  }
</style>

<script client async defer>
  (() => {
    const noop = () => {};
    let stopCurrentlyPlaying = noop;

    const songCards = document.querySelectorAll(".song-card");
    for (const songCard of songCards) {
      let isPlaying = false;

      const audio = songCard.querySelector(".song-card-audio");
      audio.style.display = "none";
      audio.addEventListener("timeupdate", () => {
        const progress = audio.currentTime / audio.duration;
        songCard.style.setProperty(
          "--song-card-progress",
          Math.round(progress * 10_000) / 100 + "%"
        );
      });
      audio.addEventListener("ended", () => {
        isPlaying = false;
        stopCurrentlyPlaying = noop;
        songCard.classList.toggle("song-card-playing", isPlaying);
      });

      const play = songCard.querySelector(".song-card-play");
      play.addEventListener("click", () => {
        isPlaying = !isPlaying;
        if (isPlaying) {
          audio.play();
          stopCurrentlyPlaying();
          stopCurrentlyPlaying = () => {
            audio.pause();
            isPlaying = false;
            songCard.classList.toggle("song-card-playing", isPlaying);
          };
        } else {
          audio.pause();
          stopCurrentlyPlaying = noop;
        }

        songCard.classList.toggle("song-card-playing", isPlaying);
      });
    }
  })();
</script>
