<div :class="'blog-media blog-media-' + (attrs.type ?? 'default')">
  <script render>
    if (attrs.type === "windowed") {
      yield html`<window-decor title="${attrs.caption}">${renderMediaElementArray()}</window-decor>`;
    } else {
      yield* renderMediaElement();
      if (attrs.caption || children.length) {
        yield html`<span class="blog-media-caption">${attrs.caption}<slot name="caption"></slot></span>`;
      }
    }
  </script>
</div>

<script static>
  async function renderMediaElementArray() {
    const array = [];
    for await (const item of renderMediaElement()) {
      array.push(item);
    }
    return array;
  }

  async function* renderMediaElement() {
    yield html`<responsive-media
        class="blog-media-element ${attrs.mediaClass ?? ""}"
        alt="${attrs.alt ?? ""}"
        src="${attrs.src}"
        spec="${attrs.spec}"
      />`;
  }
</script>

<style>
  .blog-media {
    position: relative;
    text-align: center;
    /* external margin because it’s expected to be in an article */
    margin: 36px 0;
  }
  .blog-media-bleed {
    margin: 90px 0;
    max-height: 80vh;
  }

  .blog-media-element {
    display: inline-block;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 18px;
    box-sizing: border-box;
  }
  .blog-media-bleed .blog-media-element {
    position: relative;
    left: 50%;
    max-width: max(min(100vw, 800px), 80vw);
    transform: translateX(-50%);
  }
  .blog-media-windowed .blog-media-element {
    display: block;
    width: 100%;
    border-radius: 0;
  }

  .blog-media-caption {
    display: block;
    font-size: 15px;
  }
</style>

<script client defer>
  (() => {
    const blogMediaElementImages = document.querySelectorAll(
      "img.blog-media-element"
    );

    for (const img of blogMediaElementImages) {
      if (watchImage(img)) {
        const intervalID = setInterval(() => watchImage(img, intervalID), 200);
      }
      img.addEventListener("load", onLoadImage);
    }

    function watchImage(img, intervalID) {
      if (img.naturalWidth > 0 || img.naturalHeight) {
        img.style.objectPosition = null;
        img.removeAttribute("width");
        img.removeAttribute("height");

        if (intervalID != undefined) clearInterval(intervalID);
        return false;
      } else {
        if (!img.style.objectPosition) {
          img.style.objectPosition = "100vw";
        }
        return true;
      }
    }

    function onLoadImage(event) {
      event.currentTarget.style.background = null;
    }
  })();
</script>
