<div class="blog-header">
  <text-with-bg
    tag="h1"
    class="blog-header-title"
    inner-class="blog-header-title-inner"
    color="var(--bg-clr)"
  >
    {attrs.title}
  </text-with-bg>
  <responsive-img class="blog-header-hero" :src="attrs.heroimgsrc" alt="" spec="100% [800) 80%" />
  <svg xmlns="http://www.w3.org/2000/svg" class="blog-header-decor">
    <path />
  </svg>
</div>

<style>
  .blog-header {
    isolation: isolate;
    margin: 90px 0 24px;
    position: relative;
    left: 50%;
    height: 600px;
    width: max(800px, 60vw);
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  .blog-header-title {
    position: relative;
    max-width: 800px;
    font-family: var(--display-font);
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    z-index: 2;
  }
  .blog-header-title-inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  /* Wrap lines in an angle */
  .blog-header-title::before {
    content: "";
    width: 0;
    width: calc(min(50%, 120vw - 600px));
    height: 600px;
    float: right;
    shape-outside: polygon(100% 0%, 20% 30%, 0% 100%, 100% 100%, 100% 0%);
  }

  .blog-header-hero {
    position: absolute;
    inset: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background: gray;
    z-index: -1;
  }

  .blog-header-decor {
    position: absolute;
    inset: 0;
    pointer-events: none;
    fill: var(--bg-clr);
    z-index: 1;
  }

  @media (max-width: 800px) {
    .blog-header {
      width: 100vw;
      width: 100svw;
      height: 400px;
      padding-right: 36px;
    }
    .blog-header-title {
      font-size: clamp(24px, 20px + 2vw, 36px);
    }
  }
</style>

<script client defer>
  (() => {
    const header = document.querySelector(".blog-header");
    const hero = document.querySelector(".blog-header-hero");
    const title = header.querySelector(".blog-header-title");
    const titleInner = title.querySelector(".blog-header-title-inner");
    const decor = header.querySelector(".blog-header-decor");
    const decorPath = decor.querySelector("path");

    updateDecorations();
    const observer = new ResizeObserver(() =>
      // Wait for layout
      requestAnimationFrame(() =>
        requestAnimationFrame(() => updateDecorations())
      )
    );
    observer.observe(header);

    // Add inner corner radius decorations using SVG
    function updateDecorations() {
      const radius = 18;

      const parent = header.getBoundingClientRect();
      const heroRect = hero.getBoundingClientRect();

      const range = document.createRange();
      range.selectNode(titleInner);
      const rects = [...range.getClientRects()];

      const offsetLeft = -parent.left;
      const offsetTop = -parent.top;
      decor.setAttribute("width", Math.floor(heroRect.width));
      decor.setAttribute("height", Math.floor(heroRect.height));

      const pathCommands = [];
      // Find intersections between title rects, find and decorate the corners
      // O(n^2), but n is ~3, so total of ~9 iterations, is fine
      for (let i = 0; i < rects.length; i++) {
        const r1 = rects[i];
        for (let j = i + 1; j < rects.length; j++) {
          const r2 = rects[j];
          if (!rectsIntersect(r1, r2)) continue;

          // Technically there are four potential inner corners
          // But for this specific design, top-left & bottom-left won't be possible

          // Top right corner
          if (r1.top < r2.top - radius && r1.right < r2.right - radius) {
            pathCommands.push(
              drawInnerCorner(
                offsetLeft + r1.right - 1,
                offsetTop + r2.top + 1,
                offsetLeft + Math.min(r1.right + radius, r2.right - radius),
                offsetTop + Math.max(r2.top - radius, r1.top + radius)
              )
            );
          } else if (r1.top > r2.top + radius && r1.right > r2.right + radius) {
            pathCommands.push(
              drawInnerCorner(
                offsetLeft + r2.right - 1,
                offsetTop + r1.top + 1,
                offsetLeft + Math.min(r2.right + radius, r1.right - radius),
                offsetTop + Math.max(r1.top - radius, r2.top + radius)
              )
            );
          }

          // Bottom right corner
          if (r1.bottom > r2.bottom + radius && r1.right < r2.right - radius) {
            pathCommands.push(
              drawInnerCorner(
                offsetLeft + r1.right - 1,
                offsetTop + r2.bottom - 1,
                offsetLeft + Math.min(r1.right + radius, r2.right - radius),
                offsetTop + Math.min(r2.bottom + radius, r1.bottom - radius)
              )
            );
          } else if (
            r1.bottom < r2.bottom - radius &&
            r1.right > r2.right + radius
          ) {
            pathCommands.push(
              drawInnerCorner(
                offsetLeft + r2.right - 1,
                offsetTop + r1.bottom - 1,
                offsetLeft + Math.min(r2.right + radius, r1.right - radius),
                offsetTop + Math.min(r1.bottom + radius, r2.bottom - radius)
              )
            );
          }
        }

        // Special corners for the hero background
        // Top edge
        if (r1.top <= heroRect.top && r1.bottom > heroRect.top) {
          pathCommands.push(
            drawInnerCorner(
              offsetLeft + r1.right - 1,
              offsetTop + heroRect.top - 1,
              offsetLeft + r1.right + radius,
              offsetTop + heroRect.top + radius
            )
          );
        }
        // Left edge
        if (r1.left <= heroRect.left && r1.right > heroRect.left) {
          pathCommands.push(
            drawInnerCorner(
              offsetLeft + heroRect.left - 1,
              offsetTop + r1.bottom - 1,
              offsetLeft + heroRect.left + radius,
              offsetTop + r1.bottom + radius
            )
          );
        }
      }

      decorPath.setAttribute("d", pathCommands.join(" "));
    }

    function rectsIntersect(r1, r2) {
      return (
        r1.right > r2.left &&
        r1.left < r2.right &&
        r1.bottom > r2.top &&
        r1.top < r2.bottom
      );
    }

    function drawInnerCorner(x, y, pointX, pointY) {
      const radiusX = Math.abs(x - pointX);
      const radiusY = Math.abs(y - pointY);
      const dir = (Math.sign((x - pointX) * (y - pointY)) + 1) / 2;
      return (
        `M ${x} ${y} ` +
        `L ${x} ${pointY} ` +
        `A ${radiusX},${radiusY} 0 0 ${dir} ${pointX} ${y} ` +
        `L ${x} ${y}`
      );
    }
  })();
</script>
