<aside class="blog-suggestions">
  <h2 class="blog-suggestions-title">More posts</h2>
  <card-carousel class="blog-suggestions-carousel">
    <script render>
      for (const href of hrefs) {
        yield html`<blog-post-card href="${href}" />`;
      }
    </script>
  </card-carousel>
</aside>

<script static>
  const hrefs = attrs.hrefs.split(",");
</script>

<style>
  .blog-suggestions {
    margin: 120px auto 0;
    width: 100%;
    box-sizing: border-box;
  }

  .blog-suggestions-title {
    margin: 0 0 30px;
    text-align: center;
  }

  .blog-suggestions-carousel {
    /* virtual max width 2400px */
    padding-inline: calc(max(30px, 50svw - 1200px));
  }
</style>
