<div class="{'blog-media blog-media-' + (attrs.type ?? 'default')}">
  <script render>
    // todo: extract img/video adapter to generic component (reuse outside blog)
    if (isResizeableImg(attrs.src)) {
      yield html`<responsive-img
        class="blog-media-element"
        alt="${attrs.alt ?? ''}"
        src="${attrs.src}"
        spec="${attrs.spec ?? defaultResponsiveImageSpec()}"
        loading="lazy"
        width="${await imgWidthAttr(attrs.src)}"
        height="${await imgHeightAttr(attrs.src)}"
        style="${await imgStyle(attrs.src)}"
      />`;
    } else if (isImg(attrs.src)) {
      yield html`<img
        class="blog-media-element"
        alt="${attrs.alt ?? ''}"
        src="${attrs.src}"
        loading="lazy"
        width="${await imgWidthAttr(attrs.src)}"
        height="${await imgHeightAttr(attrs.src)}"
        style="${await imgStyle(attrs.src)}"
      />`;
    } else if (isVideo(attrs.src)) {
      // todo: video placeholders
      // todo: aspect-ratio
      // todo: <responsive-video> component
      yield html`<video
        class="blog-media-element"
        muted
        autoplay
        loop
        aria-label="${attrs.alt ?? ''}"
        ${attrs.playbackRate ? 'onloadstart="this.playbackRate = ' + attrs.playbackRate + '"' : ''}
      >
        <source src="${attrs.src}" />
        <a href="${attrs.src}">${attrs.alt}</a>
      </video>`;
    } else {
      throw new Error("invalid media src: " + attrs.src);
    }

    // todo: convert into slot (need to update compose-html to expose children by named slots)
    if (attrs.caption) {
      yield html`<span class="blog-media-caption">${attrs.caption}</span>`;
    }
  </script>
</div>

<script static>
  const fs = require("node:fs");
  const path = require("node:path");
  const sharp = require("sharp");

  const prod = process.env.NODE_ENV === "production";

  // server can't know client's viewport, so we assume this
  const priorAspectRatio = 2 / 3;

  function isResizeableImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".png" || ext === ".jpg";
  }

  function isImg(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".gif";
  }

  function isVideo(src) {
    const ext = src.substring(src.length - 4);
    return ext === ".mp4";
  }

  function defaultResponsiveImageSpec() {
    switch (attrs.type) {
      case "bleed":
        return "100% [800) 80% [1750) 1400";
      default:
        return "100% [664) 664";
    }
  }

  async function isWide(src) {
    const {
      metadata: { width, height },
    } = await imgData(src);

    return width > height * priorAspectRatio;
  }

  async function imgWidthAttr(src) {
    if (!prod) return "";
    return (await isWide(src))
      ? attrs.type === "bleed"
        ? "400%"
        : "100%"
      : "";
  }

  async function imgHeightAttr(src) {
    if (!prod) return "";
    return (await isWide(src)) ? "" : "100%";
  }

  async function imgStyle(src) {
    if (!prod) return "";

    const {
      metadata: { width, height },
      stats: { dominant },
    } = await imgData(src);

    const { r, g, b } = dominant;
    const bg =
      "#" + [r, g, b].map((v) => v.toString(16).padStart(2, "0")).join("");

    return `aspect-ratio: ${width / height}; background: ${bg}`;
  }

  const cache = {};
  async function imgData(src) {
    if (!cache[src]) {
      const srcFilePath = path.join(__outputDir, src);
      if (!fs.existsSync(srcFilePath)) {
        throw new Error("Blog-media image src does not exist: " + srcFilePath);
      }

      console.log("Analyzing img:", srcFilePath);
      const image = await fs.promises.readFile(srcFilePath);
      const sharpObj = sharp(image);
      const [metadata, stats] = await Promise.all([
        sharpObj.metadata(),
        sharpObj.stats(),
      ]);

      cache[src] = { metadata, stats };
    }
    return cache[src];
  }
</script>

<style>
  .blog-media {
    text-align: center;
    /* external margin because it's expected to be in an article */
    margin: 36px 0;
  }
  .blog-media-bleed {
    margin: 90px 0;
    max-height: 80vh;
  }

  .blog-media-element {
    display: inline-block;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 18px;
  }
  .blog-media-bleed .blog-media-element {
    position: relative;
    left: 50%;
    max-width: max(min(100vw, 800px), 80vw);
    transform: translateX(-50%);
  }

  .blog-media-caption {
    display: block;
    font-size: 15px;
  }
</style>

<script client defer>
  (() => {
    const blogMediaElementImages = document.querySelectorAll(
      "img.blog-media-element"
    );

    for (const img of blogMediaElementImages) {
      if (watchImage(img)) {
        const intervalID = setInterval(() => watchImage(img, intervalID), 200);
      }
      img.addEventListener("load", onLoadImage);
    }

    function watchImage(img, intervalID) {
      if (img.naturalWidth > 0 || img.naturalHeight) {
        img.style.objectPosition = null;
        img.removeAttribute("width");
        img.removeAttribute("height");

        if (intervalID != undefined) clearInterval(intervalID);
        return false;
      } else {
        if (!img.style.objectPosition) {
          img.style.objectPosition = "100vw";
        }
        return true;
      }
    }

    function onLoadImage(event) {
      event.currentTarget.style.background = null;
    }
  })();
</script>
