<script render>
  if (attrs.tag === "a" || attrs.tag === "aa") {
    return html`<aa {...attrs} class="${"btn " + (attrs.class ?? "")}">
      <slot />
    </aa>`;
  } else if (!attrs.tag || attrs.tag === "button") {
    return html`<button {...attrs} class="${"btn " + (attrs.class ?? "")}">
      <slot />
    </button>`;
  } else {
    throw new Error("Invalid tag: " + attrs.tag);
  }
</script>

<style>
  .btn,
  .btn:visited {
    padding: 6px 12px;
    border-radius: 12px;
    border: none;
    font-family: var(--default-font);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: var(--clr0);
    color: #fff;
    cursor: pointer;
  }
  .btn:hover {
    background: var(--clr0-light);
  }
</style>
