<div class="content-header">
  <h1 class="content-header-title">{attrs.title}</h1>
  <script render>
    if (attrs.subtitle)
      return html`<div class="content-header-subtitle">${attrs.subtitle}</div>`;
  </script>
</div>

<style>
  .content-header {
    margin: 90px 0 60px;
  }

  .content-header-title {
    margin: 0 0 6px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  .content-header-subtitle {
    margin: 6px 0 0;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: var(--text2-clr);
  }
</style>
