<script render>
  const { text, radius, angleStep } = attrs;

  const [, angleStepValueStr, angleUnits] = angleStep.match(/^(-?\d+(?:\.\d*))(.*)$/);
  const angleStepValue = Number.parseFloat(angleStepValueStr);

  let angle = angleStepValue * -((text.length - 1) / 2);
  for (const char of text) {
    yield html`<span class="curved" style="transform: translateX(calc(${radius} - 0.5ch)) rotate(${angle}${angleUnits}); transform-origin: 0.5ch ${radius}">${char}</span>`;
    angle += angleStepValue;
  }
</script>

<style>
  .curved {
    display: inline-block;
    width: 0;
  }
</style>
