<aside class="project-info-card">
  <div class="project-info-card-header">
    <div class="project-info-card-title">Project details</div>
    <script render>
      if (attrs.href && attrs.button) {
        yield html`<btn tag="a" href="${attrs.href}">${attrs.button}</btn>`;
      }
    </script>
  </div>
  <div class="project-info-card-fields">
    <div class="project-info-card-field">
      <div class="project-info-card-field-label">{attrs.status ? "status" : "released"}</div>
      <div class="project-info-card-field-value">{attrs.status || attrs.released}</div>
    </div>
    <div class="project-info-card-field">
      <div class="project-info-card-field-label">role</div>
      <div class="project-info-card-field-value">{attrs.role}</div>
    </div>
    <div class="project-info-card-field">
      <div class="project-info-card-field-label">platform</div>
      <div class="project-info-card-field-value">{attrs.platform}</div>
    </div>
    <div class="project-info-card-field">
      <div class="project-info-card-field-label">tech</div>
      <div class="project-info-card-field-value">{attrs.tech}</div>
    </div>
  </div>
</aside>

<style>
  .project-info-card {
    font-family: var(--default-font);
    font-size: 15px;
    line-height: 1.6;
  }

  .project-info-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-info-card-title {
    flex: 0 0 auto;
    align-self: stretch;
    position: relative;
    margin-right: 12px;
    padding: 12px 18px 6px 12px;
    border-radius: 18px 18px 0 0;
    font-style: italic;
    text-decoration: underline;
    background-color: var(--card-clr);
  }
  .project-info-card-title::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 36px;
    height: 18px;
    border-bottom-left-radius: 18px;
    box-shadow: -18px 0 0 var(--card-clr);
  }

  .project-info-card-fields {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    padding: 12px;
    border-radius: 0 18px 18px 18px;
    background-color: var(--card-clr);
  }
  @media (max-width: 600px) {
    .project-info-card-fields {
      display: block;
    }
  }

  .project-info-card-field {
    display: flex;
  }
  .project-info-card-field-label {
    padding: 6px;
    font-style: italic;
  }
  .project-info-card-field-value {
    padding: 6px;
    font-weight: bold;
  }
</style>
