<div class="card-carousel-container">
  <div :class="'card-carousel ' + attrs.class">
    <slot />
  </div>
  <div class="card-carousel-btn-container">
    <button
      class="card-carousel-btn card-carousel-btn-prev"
      aria-label="Previous"
    >
      <span class="card-carousel-btn-symbol">&lt;&lt;</span>
    </button>
    <button class="card-carousel-btn card-carousel-btn-next" aria-label="Next">
      <span class="card-carousel-btn-symbol">&gt;&gt;</span>
    </button>
  </div>
</div>

<script client async defer>
  (() => {
    const containers = document.querySelectorAll(".card-carousel-container");

    for (const container of containers) {
      const carousel = container.firstElementChild;

      container.addEventListener(
        "click",
        (event) => {
          const { target } = event;

          const isButton = target.classList.contains("card-carousel-btn");
          if (!isButton) return;

          const isNext = target.classList.contains("card-carousel-btn-next");
          const stepUnitSize =
            carousel.children[1]?.offsetLeft - carousel.children[0]?.offsetLeft;
          const delta =
            (isNext ? 1 : -1) *
            Math.max(1, Math.floor(carousel.offsetWidth / stepUnitSize)) *
            stepUnitSize;
          carousel.scrollBy({
            left: delta,
            behavior: "smooth",
          });

          updateButtons(container, delta);
        },
        { capture: true }
      );

      let debouncedScrollTimeout = null;
      carousel.addEventListener(
        "scroll",
        () => {
          if (debouncedScrollTimeout) clearTimeout(debouncedScrollTimeout);
          debouncedScrollTimeout = setTimeout(() => {
            updateButtons(container);
          }, 50);
        },
        { passive: true }
      );

      updateButtons(container);
    }

    function updateButtons(container, delta = 0) {
      const carousel = container.firstElementChild;
      const nextButton = container.querySelector(".card-carousel-btn-next");
      const prevButton = container.querySelector(".card-carousel-btn-prev");
      nextButton.classList.toggle(
        "card-carousel-btn-hidden",
        carousel.scrollLeft + delta >
          carousel.scrollWidth - carousel.offsetWidth - 60
      );
      prevButton.classList.toggle(
        "card-carousel-btn-hidden",
        carousel.scrollLeft + delta < 60
      );
    }
  })();
</script>

<style>
  .card-carousel-container {
    position: relative;
  }

  .card-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(min(546px, 100svw - 90px));
    justify-content: start;
    gap: 60px;
    padding: 12px 12px 0;
    scrollbar-width: none;
    overflow: auto;
  }
  @media (max-width: 900px) {
    .card-carousel {
      gap: 30px;
    }
  }

  .card-carousel-btn-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .card-carousel-btn {
    position: absolute;
    min-width: 60px;
    height: 60px;
    padding: 0 18px;
    box-sizing: border-box;
    border: none;
    background: var(--bg-clr);
    color: var(--text-clr);
    cursor: pointer;
    font-family: var(--display-font);
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 0 18px #000;
    pointer-events: all;
    transition: opacity 60ms ease-out;
  }
  .card-carousel-container:hover .card-carousel-btn {
    color: var(--clr0-light);
  }
  .card-carousel-btn:hover {
    color: var(--clr1);
  }
  .card-carousel-btn-next {
    right: 0;
    bottom: 0;
    text-align: left;
    padding-left: 5mm;
    border-top-left-radius: 12px;
  }
  .card-carousel-btn-prev {
    left: 0;
    top: 0;
    text-align: right;
    padding-right: 5mm;
    border-bottom-right-radius: 12px;
  }
  .card-carousel-btn-hidden {
    opacity: 0;
  }

  .card-carousel-btn-symbol {
    display: inline-block;
    pointer-events: none;
  }
  .card-carousel-container:hover .card-carousel-btn-next .card-carousel-btn-symbol {
    animation: card-carousel-btn-next-symbol 0.5s var(--ease) infinite alternate;
  }
  .card-carousel-container:hover .card-carousel-btn-prev .card-carousel-btn-symbol {
    animation: card-carousel-btn-prev-symbol 0.5s var(--ease) infinite alternate;
  }
  @keyframes card-carousel-btn-next-symbol {
    to {
      transform: translateX(0.5ch);
    }
  }
  @keyframes card-carousel-btn-prev-symbol {
    to {
      transform: translateX(-0.5ch);
    }
  }

  /* approximately select touch-based media */
  @media (hover: none) and (pointer: coarse) {
    .card-carousel-btn {
      display: none;
    }
  }
</style>
