@font-face {
  font-family: "Iosevka Fixed SS15 Web";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("iosevka/iosevka-fixed-ss15-extended.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Fixed SS15 Web";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("iosevka/iosevka-fixed-ss15-extendeditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Fixed SS15 Web";
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url("iosevka/iosevka-fixed-ss15-extendedbold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Fixed SS15 Web";
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url("iosevka/iosevka-fixed-ss15-extendedbolditalic.woff2") format("woff2");
}
