@keyframes targeted
	0%
		background color-accent-tint
	100%
		background transparent

@keyframes appear
	0%
		opacity 0
		transform translate3d(0, 0, -5cm) rotate3d(1, 0, 0, -60deg)
	100%
		opacity 1
		transform translate3d(0, 0, 0) rotate3d(1, 0, 0, 0)
		
@keyframes fade
	0%
		opacity 0
	100%
		opacity 1