@require 'reset'
@require 'constants'
@require 'animation'

// functions
font-body()
	font-family 'Montserrat', sans-serif
	font-size font-size-body
	font-weight 500
	line-height 1.4

font-heading-section()
	font-family 'Source Code Pro', monospace
	font-size 116%
	font-weight 700
	letter-spacing 0.06em
	line-height normal
	opacity 0.6

font-heading1()
	font-family 'Montserrat', sans-serif
	font-size 150%
	font-weight 300
	letter-spacing normal
	line-height normal

font-heading2()
	font-family 'Montserrat', sans-serif
	font-size 108%
	font-weight 700
	letter-spacing normal
	line-height normal
	opacity 0.9

clip-slant(diff, start = 0%, end = 100%)
	clip-path "polygon(-1% %s, 101% calc(%s + %s), 101% %s, -1% calc(%s - %s))" % (start start diff end end diff)

perspective-std()
	perspective 2600px

// common classes
.page-heading
	font-heading1()
	margin-bottom 1em

.section-heading
	font-heading-section()
	margin-bottom 1em
	text-transform uppercase

.section-subheading
	font-heading2()
	margin-bottom 3em

a.anchor-em
	padding-top 0.5em
	padding-bottom 0.2em
	font-size 120%
	font-weight bold
	text-transform uppercase
	text-decoration inherit

// common defaults
body
	background color-bg
	color color-fg
	font-body()

em
	font-style italic

strong
	font-weight bold
	
*
	color inherit
	box-sizing border-box

::selection
	color color-fgi
	background color-accent3-tint

anchor(highlight-color)
	light-color = rgba(highlight-color, 60%)
	padding-left 0.1rem
	padding-right 0.1rem
	color color-fg
	background linear-gradient(to bottom, transparent 60%, light-color 60%)
	border-bottom solid 2px light-color
	text-decoration inherit
	&:hover, &:focus
		background highlight-color
		box-shadow 0 -1px 0 2px highlight-color
	&[target=_blank]::after
		display inline
		content '\29C9'
		color transparent
		user-select none
		background url('/img/icon-open.svg') center / contain no-repeat


a:not(.anchor-plain)
	anchor(color-accent)
