@require 'reset'
@require 'constants'
@require 'animation'

font-body()
	font-family 'Montserrat', sans-serif
	font-size font-size-body
	font-weight 500
	line-height 1.4

font-heading-section()
	font-family 'Source Code Pro', monospace
	font-size 116%
	font-weight 700
	letter-spacing 0.06em
	line-height normal
	color rgba(color-fg, 0.4)

font-heading1()
	font-family 'Montserrat', sans-serif
	font-size 150%
	font-weight 300
	letter-spacing normal
	line-height normal

font-heading2()
	font-family 'Montserrat', sans-serif
	font-size 108%
	font-weight 700
	letter-spacing normal
	line-height normal
	color rgba(color-fg, 0.7)

clip-slant(diff, start = 0%, end = 100%)
	clip-path "polygon(0% %s, 100% calc(%s + %s), 100% %s, 0% calc(%s - %s))" % (start start diff end end diff)

perspective-std()
	perspective 100cm

// common classes
.page-heading
	font-heading1()

a.anchor-em
	padding 0 0.5em
	font-size 120%
	font-weight bold
	text-transform uppercase
	text-decoration inherit

// common defaults
body
	background color-bg
	color color-fg
	font-body()

*
	color inherit
	box-sizing border-box

color-link = rgba(color-accent, 60%)
a:not(.anchor-plain)
	color color-fg
	background linear-gradient(to bottom, transparent 40%, color-link 40%)
	border-bottom solid 2px color-link
	&:hover, &:focus
		background color-accent
		box-shadow 0 -1px 0 2px color-accent
	&[target=_blank]
		display inline-block // prevent wrapping
		&::after
			display inline-block
			content ''
			width 1em
			height 0.75em
			vertical-align baseline
			user-select none
			background url('/img/icon-open.svg') center / contain no-repeat
