@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,700|Source+Code+Pro:700')
@require '../styl/reset'
@require '../styl/animation'

color-bg = #FFFFFF
color-fg = #000000AA

color-bgi = #2D2D2D
color-fgi = #FFFFFF

color-accent1 = #FFDD55
color-accent2 = #FF364E
color-accent3 = #4F9CFF
color-accent1-tint = #FFB838
color-accent2-tint = #F5005A
color-accent3-tint = #00C0D3

color-accents = 3

color-accent = color-accent1
color-accent-tint = color-accent1-tint

font-size-body = 12pt

ease-swift-out = cubic-bezier(0.0, 0.0, 0.2, 1)
ease-swift-in = cubic-bezier(0.4, 0.0, 1, 1)
ease-swift = cubic-bezier(0.4, 0.0, 0.2, 1)

holy-angle = -4deg

font-body()
	font-family 'Montserrat', sans-serif
	font-size font-size-body
	font-weight 500
	line-height 1.4

font-heading-section()
	font-family 'Source Code Pro', monospace
	font-size 14pt
	font-weight 700
	letter-spacing 0.06em
	line-height normal
	opacity 0.4

font-heading1()
	font-family 'Montserrat', sans-serif
	font-size 18pt
	font-weight 300
	letter-spacing normal
	line-height normal

font-heading2()
	font-family 'Montserrat', sans-serif
	font-size 13pt
	font-weight 700
	letter-spacing normal
	line-height normal
	opacity 0.7

clip-slant(diff, start = 0%, end = 100%)
	clip-path "polygon(0% %s, 100% calc(%s + %s), 100% %s, 0% calc(%s - %s))" % (start start diff end end diff)

perspective-std()
	perspective 100cm

// common defaults
*
	box-sizing border-box

color-link = rgba(color-accent, 80%)
a:not(.anchor-plain)
	color color-fg
	background linear-gradient(to bottom, transparent 40%, color-link 40%)
	border-bottom solid 2px color-link
	text-decoration inherit
	&:hover, &:focus
		background color-link
		box-shadow 0 -1px 0 2px color-link
	&[target=_blank]
		display inline-block // prevent wrapping
		&::after
			display inline-block
			content ''
			width 1em
			height 0.75em
			vertical-align baseline
			user-select none
			background url('./img/icon-open.svg') center / contain no-repeat
