color-bg = #FFFFFF
color-fg = #000000AA

color-bg2 = #EEF0F0

color-bgi = #2D2D2D
color-fgi = #FFFFFF

color-accent1 = #FFDD55
color-accent2 = #FF365B
color-accent3 = #4F92FF
color-accent1-tint = #FFB838
color-accent2-tint = #F20075
color-accent3-tint = #2B66FF

color-accents = 3

color-accent = color-accent1
color-accent-tint = color-accent1-tint

margin-hedge = 12vw

font-size-body = 12pt

ease-back-out = cubic-bezier(0.4, 2, 0.4, 1)
ease-swift-out = cubic-bezier(0.0, 0.0, 0.2, 1)
ease-swift-in = cubic-bezier(0.4, 0.0, 1, 1)
ease-swift = cubic-bezier(0.4, 0.0, 0.2, 1)

ease-page-out = cubic-bezier(0.2, 0.8, 0.4, 1)
ease-page-in = cubic-bezier(0.8, 0.2, 1, 0.4)

holy-angle = -4deg

page-transition-duration = 0.4s
