color-bg = #FFFFFF
color-fg = #000000AA

color-bgi = #2D2D2D
color-fgi = #FFFFFF

color-accent1 = #FFDD55
color-accent2 = #FF364E
color-accent3 = #4F9CFF
color-accent1-tint = #FFB838
color-accent2-tint = #F5005A
color-accent3-tint = #00C0D3

color-accents = 3

color-accent = color-accent1
color-accent-tint = color-accent1-tint

font-size-body = 12pt

ease-swift-out = cubic-bezier(0.0, 0.0, 0.2, 1)
ease-swift-in = cubic-bezier(0.4, 0.0, 1, 1)
ease-swift = cubic-bezier(0.4, 0.0, 0.2, 1)

holy-angle = -4deg