header.header
	display flex
	flex-wrap no-wrap
	justify-content flex-end
	align-items center
	width 100%
	min-height 72px
	padding 0 5vw
	color color-fg
	background color-accent
	overflow hidden
	z-index 1
	.header-title
		flex 1 1 auto
	nav ul
		display flex
		flex-wrap no-wrap
		justify-content flex-end
		max-width 100vw
		overflow hidden
		transition opacity 0.1s ease-swift, max-width 0.2s ease-swift
		a
			display inline-block
			position relative
			font-weight bold
			text-decoration none
			padding 0.5em
			margin 8px 12px
			transition color 0.03s ease-out
			&::before
				content ''
				position absolute
				left 0
				right 0
				top calc(100% - 2.2px)
				bottom 0
				background @color
				transform skewX(holy-angle)
				transition top 0.1s ease-swift, bottom 0.1s ease-swift
				z-index -1
			&:hover, &:focus, &[href='#']
				color @background
				&::before
					top 0
					bottom 0
			&:hover, &:focus
				&[href='#']
					opacity 0.9

	#header-search input
		font-body()
		margin 8px 0
		margin-left 8px
		padding 1em
		width 3em
		height 3em
		border none
		color transparent
		background url('/img/icon-search.svg') right 0.75em center / 1.5em 1.5em no-repeat
		cursor pointer
		user-select all
		transition:
			margin 0.2s ease-swift,
			padding 0.2s ease-swift,
			width 0.2s ease-swift,
			color 0.1s ease-swift,
			background 0.1s ease-swift,
			border-radius 0.04s ease-swift;
		&:focus
		^[0].header-searching ^[1..-1]
			margin-left 12px
			padding-right 3em
			width 12em
			color color-fg
			background-color color-bg
			cursor unset

	@media (max-width: 60em)
		&.header-searching
			nav ul
				max-width 0
				opacity 0
			#header-search input
				margin 0
				width 90vw
