header.header
	display flex
	align-items center
	width 100%
	min-height 72px
	padding 0 5vw
	background color-accent
	z-index 1000
	.header-title
		flex 1 1 auto
	nav ul
		display flex
		flex-wrap wrap
		justify-content flex-end
		a
			display inline-block
			position relative
			font-weight bold
			text-decoration none
			padding 0.5em
			margin 8px 12px
			transition color 0.03s ease-out
			&::before
				content ''
				position absolute
				left 0
				right 0
				top calc(100% - 2.5px)
				bottom 0
				background color-fg
				transform skewX(holy-angle)
				transition top 0.1s ease-swift, bottom 0.1s ease-swift
				z-index -1
			&:hover, &:focus, &[href='#']
				color color-accent
				&::before
					top 0
					bottom 0
			&:hover, &:focus
				&[href='#']
					opacity 0.9
				&[href^='#']:not([href='#'])::after // signify same-page anchor
					content ''
					position absolute
					left 50%
					top 100%
					width 0
					height 0
					border solid 4px transparent
					border-top-color color-fg
					transform translateX(-50%)
					z-index -1
