.main[data-page='index.html']
	section.intro
		position relative
		display flex
		flex-direction column
		justify-content center
		align-items flex-start
		min-height 90vh
		padding-top 5vh
		padding-bottom 5vh
		perspective-std()

		.intro-portrait
			margin-top 2em
			width 80%
			max-width 40vmax
			align-self center
			animation portraitEnterSmall 0.6s ease-back-out backwards
			@media (min-width: 60em)
				position absolute
				top 48%
				right 12vw
				margin-top 0
				width 40vmin
				max-width unset
				transform translateY(-50%)
				animation portraitEnterWide 0.6s 0.4s ease-back-out backwards

		.intro-greeting
			font-family 'Montserrat', sans-serif
			font-weight bold
			font-size 70pt
			text-align left
			text-transform lowercase
		.intro-text
			margin-bottom 0.5em
			max-width 20em
			font-size 24pt
			line-height 1.2em
			@media (min-width 60em)
				max-width 50%
				font-size 27pt

		.intro-content
			for i in (2..4) // adjust as needed
				&:nth-child({i})
					transform-origin top center
					animation appear 0.6s ((i - 2) * 0.15s) ease-swift-out backwards

		// this makes skewed borders
		&::before
			content ''
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			outline solid 1px transparent // antialias hack
			background linear-gradient(120deg, color-accent 40%, color-accent-tint)
			transform-origin left top
			transform skewY(holy-angle)
			z-index -1
			@supports (mix-blend-mode: soft-light)
				background url('img/tex.png'), @background
				background-blend-mode soft-light

	&:not(.page-active), &.page-paused
		section.intro
			.intro-content,
			.intro-portrait
				animation-play-state paused

	// override header for intro screen
	header.header
		position absolute
		background none
		animation fade 1s 0.6s ease-out backwards

	@keyframes portraitEnterSmall
		from
			opacity 0
			transform scale(0.97) rotate3d(1, 1, 0, -30deg)

	@keyframes portraitEnterWide
		from
			opacity 0
			transform translateY(-50%) scale(0.97) rotate3d(1, 1, 0, -30deg)
