image-min-size = 240px
image-size = 65vmin
info-min-size = 240px
info-size = 40vmin

.main[data-page='index.html'] section.projects
	.projects-list
		display flex
		flex-direction column
	.projects-item
		display flex
		align-items flex-start
		& + .projects-item
			margin-top 2em
			@media (min-width 1000px) and (min-height 600px) and (min-aspect-ratio 4/3)
				margin-top -10vmin

	.project-image
		margin 1px
		min-width image-min-size
		min-height image-min-size
		width image-size
		height image-size
		background white
		z-index 1
		img
			width 100%
			height 100%
			object-fit cover
			mix-blend-mode luminosity
			filter grayscale(100%) brightness(1.2) contrast(80%)
			transition filter 60ms ease-out
	& .projects-item:hover .project-image img
	& .project-image:focus img
			mix-blend-mode unset
			filter none
	.project-info
		margin-top ((image-size - info-size) / 2)
		min-width info-min-size
		min-height info-min-size
		width info-size
		height auto
		padding 2em
		background color-bg
		z-index 2

	.projects-item
		&:nth-child(odd)
			align-self flex-start
			flex-direction row
			.project-info
				margin-left (info-size * -0.4)
		&:nth-child(even)
			align-self flex-end
			flex-direction row-reverse
			.project-info
				margin-right (info-size * -0.4)
	@media (max-aspect-ratio 5/4), (max-width (image-min-size * 2))
		.projects-item:nth-child(1n)
			flex-direction column
			align-items stretch
			.project-image
			.project-info
				min-width unset
				min-height unset
				height unset
				width unset
			.project-info
				min-height (image-size * 0.5)
				margin (image-size * -0.5) 0 0
				padding 1em 0

	.project-name
		font-heading1()

	// decorative pseudo-elements (for background)
	for i in (1..color-accents)
		color-var = 'color-accent' + ((i - 1) * 1 % color-accents + 1)
		.projects-item:nth-of-type({color-accents}n + {(i) * 1 % color-accents + 1})
			.project-image
				background linear-gradient(120deg, lookup(color-var) 25%, lookup(color-var + '-tint') 75%)
