header.header
	position absolute
	display flex
	align-items center
	width 100%
	height 72px
	padding 0 5vw
	z-index 1
	.header-title
		flex 1 1 auto
	nav ul
		display flex
		a
			display inline-block
			position relative
			text-decoration none
			padding 0.5em
			margin-left 48px
			transition color 0.06s ease-out
			&::before
				content ''
				position absolute
				left 0
				right 0
				top calc(100% - 2px)
				bottom 0
				background color-fg
				transform skewX(holy-angle)
				z-index -1
				transition top 0.1s ease-swift
			&:hover, &:focus
				color color-accent
				&::before
					top 0
				&[href^='#']::after // signify same-page anchor
					content ''
					position absolute
					left 50%
					top 100%
					width 0
					height 0
					border solid 4px transparent
					border-top-color color-fg
					transform translateX(-50%)
					z-index -1

	> *
		animation fade 0.4s 1.2s ease-out backwards
