section.contact
	.contact-links-list li + li
		margin-top 0.5em
	.contact-link
		display inline-flex
		align-items center
	.contact-link-icon
		width 1em
		height 1em
		margin-left 0.125em
		margin-right 0.25em
		object-fit contain
		object-position center center
		opacity alpha(color-fg)
