.links-partial
    margin 0
    padding 1em
    line-height 1
    font-size font-size-body
    font-weight bold
    color color-fg
    background color-bg2

.links-partial-item
    color color-fg
