.mockup-phone
	phone-screen-width = 9vmin * 5
	phone-screen-height = 16vmin * 5

	phone-body-width = phone-screen-width + 3vmin
	phone-body-height = phone-screen-height + 14vmin
	phone-body-thickness = 4vmin

	phone-body-diameter = (phone-body-width ** 2 + phone-body-height ** 2) ** 0.5
	phone-body-diameter-angle = math(unit(phone-body-height / phone-body-width, ''), 'atan') * 180deg / PI

	phone-glare-size = 3000px

	entrance-animation = 1.5s ease-swift-out backwards


	position relative
	display block
	margin auto
	width phone-body-width
	height phone-body-height
	transform rotate3d(2, -1, 1, 60deg)
	transition transform 1s ease-swift
	animation phoneenter entrance-animation
	&:hover
		transform none
		> img
			filter grayscale(0.1) contrast(0.9) brightness(1.1) hue-rotate(0deg)
		&::after
			// screen glare
			opacity 0
			background-position 0 (- phone-glare-size)
		.phone-body::after // back pane
			box-shadow 0 0 80vmin rgba(#000, 0.03)

	> img
		display block
		position absolute
		width phone-screen-width
		height phone-screen-height
		border-radius 0.5vmin
		object-fit cover
		object-position top
		filter grayscale(0.2) contrast(0.8) brightness(1.2) hue-rotate(8deg) // "realism" filters
		transform translate3d((phone-body-width - phone-screen-width) / 2, (phone-body-height - phone-screen-height) / 2, 0)
		transition filter 1s ease-swift
	&::before
		// front frame
		content ''
		display block
		position absolute
		width phone-body-width
		height phone-body-height
		border-radius 1vmin
		background linear-gradient(to bottom, #F4F4F4, #D8DFE0)
		transform translateZ(-1px)
	&::after
		// screen glare
		content ''
		display block
		position absolute
		width phone-screen-width
		height phone-screen-height
		border-radius 0.5vmin
		padding 0.1px
		background radial-gradient(phone-glare-size at top left, transparent, transparent phone-screen-width, rgba(white, 0.3) phone-screen-height, rgba(white, 0.4) phone-body-diameter, rgba(white, 0.06), rgba(white, 0.06), white, rgba(white, 0.06), transparent)
		background-position 0 0
		background-size 100% phone-glare-size
		background-repeat no-repeat
		opacity 1
		transform translate3d((phone-body-width - phone-screen-width) / 2, (phone-body-height - phone-screen-height) / 2, 1px)
		transition opacity 1s ease-swift, background 1s ease-swift
		animation glareenter entrance-animation
	.phone-body
		display block
		position absolute
		width phone-body-width
		height phone-body-height
		transform translateZ((- phone-body-thickness)) translateZ(-2px)
		&::before, &::after
			content ''
			display block
			position absolute
			background #BBCBD0
		&::before
			// give volume to middle gap
			right 0
			width (phone-body-diameter - 0.86vmin)
			height phone-body-thickness
			transform-origin top right
			transform rotateZ((- phone-body-diameter-angle)) rotateX(90deg) translateX(-0.43vmin)
		&::after
			// back pane
			width phone-body-width
			height phone-body-height
			border-radius 1vmin
			box-shadow 10vmin 0 80vmin rgba(#1b2330, 0.1)
			transition box-shadow 1s ease-swift

	@keyframes phoneenter
		from
			transform rotate3d(4, -1, 1, 90deg)

	@keyframes glareenter
		from
			background-position 0 phone-glare-size
		to
			background-position 0 0
