@require 'common'
@require 'header'
@require 'footer'

transition-decors = 2

page-transition-duration = 0.4s

body
	left 0
	right 0
	top 0
	bottom 0
	overflow hidden

.main
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	overflow auto
	background color-bg

.main.page-enter
	visibility visible !important
	z-index 5000
	animation pageenter page-transition-duration ease-swift-out both

.main.page-exit
	z-index -5000
	animation pageexit page-transition-duration ease-swift-in both

offset = sin(holy-angle) * 100vw
@keyframes pageenter
	from
		transform translateY(70vh)
		clip-path "polygon(0% calc(100vh - %s), 100% 100vh, 100% 100%, 0% 100%)" % (offset)
	to
		transform translateY(0)
		clip-path "polygon(0% 0, 100% %s, 100% 100%, 0% 100%)" % (offset)

@keyframes pageexit
	from
		opacity 1
		transform translateY(0)
		clip-path "polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - %s))" % (offset)
	to 
		opacity 0
		transform translateY(-15vh)
		clip-path "polygon(0% 0%, 100% 0, 100% %s, 0% 0)" % (offset)
