@require 'common'
@require 'header'
@require 'footer'

transition-decors = 2

page-transition-color(color)
	/body{selector()}.page-transition
		background color

// special page transition colors
[data-page-to='index.html']
	page-transition-color(color-accent)
[data-page-to^='works/']
	page-transition-color(color-bgi)


body
	left 0
	right 0
	top 0
	bottom 0
	min-width 100vw
	min-height 100vh
	background color-accent
	overflow hidden
	&.page-transition
		#preloader
			visibility visible
			animation fade 2.5s 1.5s ease-out both
		.main
			overflow-y scroll

#preloader
	visibility hidden

.main
	display flex
	flex-direction column
	position absolute
	left 0
	right 0
	top 0
	height 100vh
	outline none
	background color-bg
	overflow-y scroll

.main.page-idle
	visibility hidden

.main.page-active
	visibility visible

.main.page-enter
	visibility visible !important
	z-index 5000
	animation pageenter page-transition-duration ease-page-out both

.main.page-exit
	visibility visible
	z-index -5000
	animation pageexit page-transition-duration ease-page-in both

.page-going-up
	.main.page-enter
		animation pageenter-up page-transition-duration ease-page-out both
	.main.page-exit
		animation pageexit-up page-transition-duration ease-page-in both

offset = sin(holy-angle) * 100vw

@keyframes pageenter
	from
		transform translateY(70vh)
		clip-path "polygon(0% calc(100vh - %s), 100% 100vh, 100% 100%, 0% 100%)" % (offset)
	to
		transform translateY(0)
		clip-path "polygon(0% 0, 100% %s, 100% 100%, 0% 100%)" % (offset)

@keyframes pageexit
	from
		transform translateY(0)
		clip-path "polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - %s))" % (offset)
	to 
		transform translateY(-15vh)
		clip-path "polygon(0% 0%, 100% 0, 100% %s, 0% 0)" % (offset)

@keyframes pageenter-up
	from
		transform translateY(-70vh)
		clip-path "polygon(0% 0%, 100% 0, 100% %s, 0% 0)" % (offset)
	to
		transform translateY(0)
		clip-path "polygon(0% 0%, 100% 0%, 100% 100vh, 0% calc(100vh - %s))" % (offset)

@keyframes pageexit-up
	from
		transform translateY(0)
		clip-path "polygon(0% 0, 100% %s, 100% 100%, 0% 100%)" % (offset)
	to 
		transform translateY(15vh)
		clip-path "polygon(0% calc(100vh - %s), 100% 100vh, 100% 100%, 0% 100%)" % (offset)
