@require 'common'

.prose
	max-width 45em
	margin 0 auto
	font-size 120%
	line-height 180%
	@media (min-width 1024px)
		font-size 150%

	h1, h2, h3, h4, h5, h6, p
		margin 24pt 0

	h1
		font-heading-section()
		font-size 150%
		text-align center
		text-transform uppercase

	h2
		font-heading1()

	h3
		font-heading2()

	h4
		font-heading1()
		font-size 110%

	h5
		font-heading2()
		font-size 110%

	h6
		font-heading1()
		font-size 100%
		
	code
		font-family 'Source Code Pro', monospace

	// :(
	> img
	> video
	> p > img
	> p > video
	> span > img
	> span > video
	> p > span > img
	> p > span > video
			&:not(.media-plain)
				display block
				width 100%
				height auto
				max-height 80vh
				object-fit contain

	.center
		display flex
		align-items center
		justify-content center

	.caption
		margin 0.5em 0
		display block
		color rgba(color-fg, 0.5)
		font-size 60%
		line-height normal
		font-weight bold
		text-align center

	.d3d > *
		perspective-std()
		transform-style preserve-3d
		* 
			transform-style inherit
