@require 'common'

.prose
	max-width 512px
	margin 0 auto
	font-size 120%
	line-height 180%
	@media (min-width 1024px)
		font-size 150%

	h1, h2, h3, h4, h5, h6, p, ul, ol
		margin 32pt 0

	h1
		font-heading-section()
		font-size 180%
		text-align center
		text-transform uppercase
		letter-spacing -0.04em

	h2
		font-heading1()

	h3
		font-heading2()

	h4
		font-heading1()
		font-size 110%

	h5
		font-heading2()
		font-size 110%

	h6
		font-heading1()
		font-size 100%
		
	ul
		list-style disc inside

	small
		font-size 60%
		line-height 180%
		&.small-block
			display inline-block

	sup
		vertical-align super
		font-size 60%

	code
		font-family 'Source Code Pro', monospace

	// :(
	> img
	> video
	> p > img
	> p > video
	> span > img
	> span > video
	> p > span > img
	> p > span > video
			&:not(.media-plain)
				display block
				width 100%
				height auto
				max-height 80vh
				object-fit contain

	hr
		margin 64pt 0
		border solid 1px color-bg2
		box-shadow -(@max-width / 2) 0 color-bg2, (@max-width / 2) 0 color-bg2

	.bleed
		display block
		max-height 80vh
		> img, > video
			position relative
			left 50%
			width 100vw !important // sad, overrides the monster rule above
			transform translateX(-50%)

	.center
		display flex
		align-items center
		justify-content center

	.caption
		margin 1em 0
		display block
		color rgba(color-fg, 0.5)
		font-size 60%
		line-height normal
		font-weight bold
		text-align center

	.d3d > *
		perspective-std()
		transform-style preserve-3d
		* 
			transform-style inherit
