<aa class="home-link" href="https://www.linkedin.com/in/leanrada/">
  <img class="home-link-icon" src="/icons/linkedin.png" />
</aa>
<aa class="home-link" href="https://codepen.io/kalabasa">
  <img class="home-link-icon" src="/icons/codepen.png" />
</aa>
<aa class="home-link" href="https://stackoverflow.com/users/3144156/kalabasa">
  <img class="home-link-icon" src="/icons/stackoverflow.png" />
</aa>
<aa class="home-link" href="https://github.com/Kalabasa">
  <img class="home-link-icon" src="/icons/github.png" />
</aa>

<style>
  .home-link {
    text-decoration: none;
  }

  .home-link-icon {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
  }
  .home-link-icon:hover {
    filter: invert(1);
  }
</style>
