<footer class="main-footer">
  <div class="main-footer-content-part">
    <p class="main-footer-line">
      <aa class="main-footer-link" href="/">Home</aa> ·
      <aa class="main-footer-link" href="/wares/">Software</aa> ·
      <aa class="main-footer-link" href="/art/">Art</aa> ·
      <aa class="main-footer-link" href="/notes/">Notes</aa> ·
      <aa class="main-footer-link" href="/misc/">Misc</aa>
    </p>
    <p class="main-footer-line">
      <img
        class="main-footer-signature"
        alt=""
        src="/icons/laptop_user.png"
        loading="lazy"
      />
      <span style="display: inline-block">
        · <aa class="main-footer-link" href="/guestbook/">Sign the guestbook!</aa
        ><br />
        · Drop a 
        <aa
          class="main-footer-link"
          href="mailto:mail@leanrada.com"
          target="_blank"
        >
          mail@leanrada.com</aa
        >
      </span>
    </p>
    <p class="main-footer-line">
      (C) {new Date().getFullYear()} Lean Rada.
      <aa
        class="main-footer-link"
        href="https://github.com/Kalabasa/kalabasa.github.io"
      >
        Source</aa
      >.
    </p>
  </div>
  <div class="main-footer-content-part">
    <h2 class="main-footer-links-heading">On the web</h2>
    <main-footer-web-links />
    <h2 class="main-footer-links-heading">Webrings</h2>
    <p class="main-footer-line">
      <img
        class="main-footer-webring-icon"
        alt=""
        src="/icons/planet.png"
        loading="lazy"
      />
      <aa class="main-footer-link" href="http://geekring.net/">geekring.net</aa>
      [<aa
        class="main-footer-link"
        :href="`http://geekring.net/site/${geekringNumber}/previous`"
        aria-label="Previous site"
        >←</aa
      >
      <aa
        class="main-footer-link"
        :href="`http://geekring.net/site/${geekringNumber}/random`"
        aria-label="Random site"
        >⁙</aa
      >
      <aa
        class="main-footer-link"
        :href="`http://geekring.net/site/${geekringNumber}/next`"
        aria-label="Next site"
        >→</aa
      >
      <aa
        class="main-footer-link"
        :href="`http://geekring.net/site/${geekringNumber}/frameset`"
        aria-label="Frameset browsing"
        >▣</aa
      >]
    </p>
    <p class="main-footer-line">
      <img
        class="main-footer-webring-icon"
        alt=""
        src="/icons/planet.png"
        loading="lazy"
      />
      <aa class="main-footer-link" href="https://cs.sjoy.lol/">CSS JOY</aa>
      [<aa
        class="main-footer-link"
        href="https://webri.ng/webring/cssjoy/previous?via=https%3A%2F%2Fleanrada.com"
        aria-label="Previous site"
        >←</aa
      >
      <aa
        class="main-footer-link"
        href="https://webri.ng/webring/cssjoy/random?via=https%3A%2F%2Fleanrada.com"
        aria-label="Random site"
        >⁙</aa
      >
      <aa
        class="main-footer-link"
        href="https://webri.ng/webring/cssjoy/next?via=https%3A%2F%2Fleanrada.com"
        aria-label="Next site"
        >→</aa
      >]
    </p>
  </div>
  <nebula
    class="main-footer-nebula"
    palette="#0ad591 #ff2b75 #ffb833 #0ad591 #0ad591 #4d4aff #0ad591"
    width="40"
    height="10"
  />
  <a class="main-footer-top-btn" href="#top" aria-label="Back to top">^</a>
</footer>

<style>
  .main-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 42px calc(max(36px, 50vw - 600px));
    font-family: var(--display-font);
    font-size: 15px;
    font-weight: bold;
    background: var(--clr0);
    color: #000;
    overflow: hidden;
    content-visibility: auto;
    contain-intrinsic-height: 200px;
  }

  .main-footer-links-heading {
    margin: 18px 0;
    font-size: inherit;
  }

  .main-footer-line {
    margin: 12px 0;
  }

  .main-footer-link {
    color: #000;
  }
  .main-footer-link:hover {
    color: #000;
  }

  .main-footer-webring-icon {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
  }

  .main-footer-signature {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    vertical-align: middle;
  }

  .main-footer-content-part {
    z-index: 1;
  }

  .main-footer-nebula {
    position: absolute;
    left: -30%;
    top: -30%;
    width: 160%;
    height: 160%;
    z-index: 0;
  }

  .main-footer-top-btn {
    display: block;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 36px;
    padding-right: 9px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom-left-radius: 18px;
    background: var(--bg-clr);
    text-decoration: none;
    color: var(--clr0-light);
    font: inherit;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .main-footer-top-btn:hover {
    color: var(--clr1);
  }
  .main-footer-top-btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 18px;
    border-top-right-radius: 18px;
    transform: translateX(-72px);
    box-shadow: 18px 0 0 var(--bg-clr);
  }

  @media (max-width: 700px) {
    .main-footer {
      flex-direction: column-reverse;
    }
  }
</style>

<script static>
  const geekringNumber = 288;
</script>

<script client defer>
  // subtle smooth scroll
  (() => {
    let top = 0;

    const topBtn = document.querySelector(".main-footer-top-btn");
    topBtn.addEventListener("click", (event) => {
      event.preventDefault();
      top = 200;
      loop();
    });

    function loop() {
      top *= 0.6;
      window.scrollTo(0, top);
      if (top < 1) {
        window.scrollTo(0, 0);
      } else {
        requestAnimationFrame(loop);
      }
    }
  })();
</script>
