<aa class="main-footer-web-link" href="https://www.linkedin.com/in/leanrada/">
  <img
    class="main-footer-web-link-icon"
    alt="LinkedIn"
    src="/icons/linkedin.png"
    loading="lazy"
  />
</aa>
<aa class="main-footer-web-link" href="https://codepen.io/kalabasa">
  <img
    class="main-footer-web-link-icon"
    alt="CodePen"
    src="/icons/codepen.png"
    loading="lazy"
  />
</aa>
<aa class="main-footer-web-link" href="https://github.com/Kalabasa" rel="me">
  <img
    class="main-footer-web-link-icon"
    alt="GitHub"
    src="/icons/github.png"
    loading="lazy"
  />
</aa>
<aa
  class="main-footer-web-link"
  href="https://mastodon.social/@Kalabasa"
>
  <img
    class="main-footer-web-link-icon"
    alt="Mastodon"
    src="/icons/mastodon.png"
    loading="lazy"
  />
</aa>

<style>
  .main-footer-web-link {
    text-decoration: none;
  }

  .main-footer-web-link-icon {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
  }
  .main-footer-web-link-icon:hover {
    filter: invert(1);
  }
</style>
