<footer class="main-footer">
  <div class="main-footer-content-part">
    <p class="main-footer-line">
      <aa class="main-footer-link" href="/">Home</aa> ·
      <aa class="main-footer-link" href="/wares/">Software</aa> ·
      <aa class="main-footer-link" href="/art/">Art</aa> ·
      <aa class="main-footer-link" href="/notes/">Notes</aa> ·
      <aa class="main-footer-link" href="/misc/">Misc</aa>
    </p>
    <p class="main-footer-line">
      Site#288 on
      <aa class="main-footer-link" href="http://geekring.net/">geekring.net</aa>
      [<aa class="main-footer-link" href="http://geekring.net/site/288/frameset"
        >Browse</aa
      >] [<aa
        class="main-footer-link"
        href="http://geekring.net/site/288/random"
        >Feel lucky?</aa
      >]
    </p>
    <p class="main-footer-line">
      (C) {new Date().getFullYear()} Lean Rada.
      <aa
        class="main-footer-link"
        href="https://github.com/Kalabasa/kalabasa.github.io"
      >
        Source
      </aa>
    </p>
  </div>
  <div class="main-footer-content-part">
    <h2 class="main-footer-links-heading">On the web</h2>
    <main-footer-web-links />
  </div>
  <nebula
    class="main-footer-nebula"
    palette="#0ad591 #ff2b75 #ffb833 #0ad591 #0ad591 #4d4aff #0ad591"
    width="40"
    height="10"
  />
  <a class="main-footer-top-btn" href="#top" aria-label="Back to top">^</a>
</footer>

<style>
  .main-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 60px calc(max(60px, 50vw - 600px)) 60px;
    font-size: 14px;
    font-weight: bold;
    background: var(--clr0);
    color: #000;
    overflow: hidden;
    content-visibility: auto;
    contain-intrinsic-height: 200px;
  }

  .main-footer-links-heading {
    margin: 0 0 18px;
    font-size: inherit;
  }

  .main-footer-line {
    margin: 0 0 18px;
  }

  .main-footer-link {
    color: #000;
  }
  .main-footer-link:hover {
    color: #000;
  }

  .main-footer-content-part {
    z-index: 1;
  }

  .main-footer-nebula {
    position: absolute;
    left: -30%;
    top: -30%;
    width: 160%;
    height: 160%;
    z-index: 0;
  }

  .main-footer-top-btn {
    display: block;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    height: 36px;
    padding-right: 9px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom-left-radius: 18px;
    background: var(--bg-clr);
    text-decoration: none;
    color: var(--clr0-light);
    font: inherit;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .main-footer-top-btn:hover {
    color: var(--clr1);
  }
  .main-footer-top-btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 18px;
    border-top-right-radius: 18px;
    transform: translateX(-72px);
    box-shadow: 18px 0 0 var(--bg-clr);
  }

  @media (max-width: 700px) {
    .main-footer {
      flex-direction: column-reverse;
    }
  }
</style>

<script client defer>
  // subtle smooth scroll
  (() => {
    let top = 0;

    const topBtn = document.querySelector(".main-footer-top-btn");
    topBtn.addEventListener("click", (event) => {
      event.preventDefault();
      top = 200;
      loop();
    });

    function loop() {
      top *= 0.6;
      window.scrollTo(0, top);
      if (top < 1) {
        window.scrollTo(0, 0);
      } else {
        requestAnimationFrame(loop);
      }
    }
  })();
</script>
