<pre
  class="code-block"
><code class="code-block-code">{renderCode()}</code></pre>

<script static>
  const Prism = (globalThis.Prism = require("prismjs"));
  require("prismjs/components/prism-diff.js");
  require("prismjs/plugins/diff-highlight/prism-diff-highlight.js");

  function renderCode() {
    const language = attrs.language ?? "javascript";
    return raw([
      Prism.highlight(
        attrs.code.replace(/^\n|\n$/g, ""),
        Prism.languages[language],
        attrs.languageCode ?? language
      ),
    ]);
  }
</script>

<style>
  .code-block {
    margin: 0 -18px; /* bleed content padding */
    padding: 0 18px; /* bleed content padding */
    overflow-x: auto;
  }
  .code-block-code {
    display: inline-block;
    padding: 18px;
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 18px;
    font-family: var(--default-font, monospace);
    font-size: 15px;
    line-height: 1.6;
    background: var(--card-clr);
    white-space: pre;
  }
</style>

<style>
  /**
   * Modified by Kalabasa.
   * Based on:
   * a11y-dark theme for JavaScript, CSS, and HTML
   * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/hemes/prism-okaidia.css
   * @author ericwbailey
   */

  .code-block .token.inserted:not(.prefix) {
    background: #00b6a71c;
    display: block;
  }

  .code-block .token.comment,
  .code-block .token.prolog,
  .code-block .token.doctype,
  .code-block .token.cdata {
    color: #628b9e;
    font-style: italic;
  }

  .code-block .token.punctuation {
    color: #fefefe;
  }

  .code-block .token.property,
  .code-block .token.tag,
  .code-block .token.constant,
  .code-block .token.symbol,
  .code-block .token.deleted {
    color: #ffa07a;
  }

  .code-block .token.boolean,
  .code-block .token.number {
    color: #00e0e0;
  }

  .code-block .token.selector,
  .code-block .token.attr-name,
  .code-block .token.string,
  .code-block .token.char,
  .code-block .token.builtin,
  .code-block .token.inserted {
    color: #abe338;
  }

  .code-block .token.operator,
  .code-block .token.entity,
  .code-block .token.url,
  .code-block .token.variable {
    color: #00e0e0;
  }

  .code-block .token.atrule,
  .code-block .token.attr-value,
  .code-block .token.function {
    color: #ffd700;
  }

  .code-block .token.keyword {
    color: #00e0e0;
  }

  .code-block .token.regex,
  .code-block .token.important {
    color: #ffd700;
  }

  .code-block .token.important,
  .code-block .token.bold {
    font-weight: bold;
  }

  .code-block .token.italic {
    font-style: italic;
  }

  .code-block .token.entity {
    cursor: help;
  }

  @media screen and (-ms-high-contrast: active) {
    .code-block .token.important {
      background: highlight;
      color: window;
      font-weight: normal;
    }

    .code-block .token.atrule,
    .code-block .token.attr-value,
    .code-block .token.function,
    .code-block .token.keyword,
    .code-block .token.operator,
    .code-block .token.selector {
      font-weight: bold;
    }

    .code-block .token.attr-value,
    .code-block .token.comment,
    .code-block .token.doctype,
    .code-block .token.function,
    .code-block .token.keyword,
    .code-block .token.operator,
    .code-block .token.property,
    .code-block .token.string {
      color: highlight;
    }

    .code-block .token.attr-value,
    .code-block .token.url {
      font-weight: normal;
    }
  }
</style>
