/* Global */

html, body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	color: #000;
	background-color: #eee;
}

a:link, a:visited {
	color: #9C8A6A;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

/* Wrappers */

#outerw {
	display: table;
	position: absolute;
	height: 98%;
	width: 98%;
}

#middlew {
	display: table-cell;
	vertical-align: middle;
}

#innerw {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	text-align: center;
	position: relative;
}

.box {
	margin-top: 1em;
	margin-bottom: 1em;
	border:solid 1px #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 2px #000000;
	-webkit-box-shadow: 2px 2px 2px #000000;
	box-shadow: 2px 2px 2px #000000;
	background-color: #fff;
}

/* Navigation */

#navtitle {
	display: inline;
	font-size: 4em;
	letter-spacing: -.1em;
}

#navmenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

#navmenu li {
	display: inline;
}

#navmenu ul li a {
	text-decoration:none;
}

#navmenu ul li a:hover {
	text-decoration:underline;
}

/* Content */

.content {
	text-align: justify;
	padding: 1.2em;
}

.contitle {
	font-size: large;
	padding-bottom: .5em;
}

.coninput {
	text-align: center;
}

#output {
	font-family: "Times New Roman", sans-serif;
	font-size: 2em;
	font-style: italic;
	text-align: center;
}

img {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	border: solid 1px #000000;
}

/* Footer */

#footer {
	font-size: smaller;
	color: #000;
}