body {
  font-family: sans-serif;
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 8rem;
  width: 100%;
  background: #200;
  color: #fff;
}
header h1 {
  line-height: 4rem;
  margin: 0 1em;
}
nav {
  display: flex;
  height: 4rem;
  background: #400;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: inherit;
}
section {
  padding: 9rem 1rem 1rem;
}
